<div class="background" [@background]="backgroundState"></div>
<div id="createCard" [@principal]="cardState">

    <div id="cerrarBtn" (click)="close()" [routerLink]="['../']"> Cerrar <i class="material-icons">close</i></div>

    <div class="form">
        <h1 align="center">Asignar Horarios</h1>

        <div *ngIf="validations.validate == false" class="divErrors">
            <h5>Error/es:</h5>
            <p *ngIf="validations.checkIn == 1">No se ha asignado la hora de entrada en todos los campos</p>
            <p *ngIf="validations.checkOut == 1">No se ha asignado la hora de salida en todos los campos</p>
            <p *ngIf="validations.crossed == 1">Hay Horarios crusados</p>
            <p *ngIf="validations.format == 1">Recuerda que siempre la H.Entrada debe ser mas temprano que la H.Salida</p>
        </div>

        <!-- <button (click)="selectLV()" class="btn LV">L-V</button> -->
        <button (click)="createNewSchedule(x.day_id)"  matTooltip="Crear Horario en día {{ x.day_id | dayPipe}}" *ngFor="let x of days" class="btn black">{{ x.day_id | dayPipe }}</button>
        <button class="btn blue" *ngIf="scheduleCopied">Horario Copiado: 
            {{ scheduleCopied.check_in | time }} - {{ scheduleCopied.check_out | time }}
        </button>
        <form (submit)="form()" (change)="countHours()">
            <table>
                <thead>
                    <tr>
                        <th>Día</th>
                        <th>Hora de Entrada</th>
                        <th>Hora de Salida</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of user.schedules">
                        

                        <th>{{ x.day_id | dayPipe }}</th>
                            <th *ngIf="!x.edit" (click)="editSchedule(x)"  [ngClass]="{inputError: x.error == 1}"> 
                            <span *ngIf="x.check_in != null">{{ x.check_in | time }}</span>
                            <span *ngIf="x.check_in == null">Asigne Hora de Entrada</span>
                        </th>
                        <th *ngIf="!x.edit" (click)="editSchedule(x)"  [ngClass]="{inputError: x.error == 1}">
                            <span *ngIf="x.check_out != null">{{ x.check_out | time }}</span>
                            <span *ngIf="x.check_out == null">Asigne Hora de Salida</span>
                        </th>

                        <th *ngIf="x.edit">
                            <input (change)="countHours()" id="editCheckIn" [ngClass]="{inputError: x.error == 1}" [(ngModel)]="x.check_in" name="check_in{{x.id}}" type="time">
                        </th>
                        <th *ngIf="x.edit">
                            <input (change)="countHours()" [ngClass]="{inputError: x.error == 1}" [(ngModel)]="x.check_out" name="check_out{{x.id}}" type="time">
                        </th>
                        <th>
                            <button type="button" class="red" (click)="deleteSchedule(x)">Eliminar</button>
                            <button type="button" class="blue" (click)="editSchedule(x)">Editar</button>
                            <button type="button" class="orange" (click)="copySchedule(x)">Copiar</button>
                            <button type="button" class="black white-text" (click)="pasteSchedule(x)" *ngIf="scheduleCopied">Pegar</button>
                        </th>
                        
                    </tr>
                </tbody>
            </table>

            <div *ngIf="analisisCountHours.hours != 0 && user.user_type_id == 1" >
                <p>Horas: {{analisisCountHours.hours}}</p>
                <p>Precio Por Horas Sugerido: ${{analisisCountHours.amount}}</p>                
                <p>Si los horarios son actualizados la mensualidad del alumn@ se vera afectada.</p>

            </div>
            <button type="submit" class="btn formBtn">Asignar Horarios</button>
        </form>

    </div>
</div>