<router-outlet></router-outlet>
<mat-progress-bar mode="indeterminate" *ngIf="sendingData " class="barLoader"></mat-progress-bar>

<div *ngIf="principal">

<h2 class="linksTitle"><a [routerLink]="['/receipt']"> Recibos</a> / Mensualidades Pendientes </h2>

<div class="menuHelper">
  <ul>
      
      <li><a target="_blank" href="{{ url.getApiUrlToken('excel/monthlyDebtor') }}
          &year={{ search.year }}&month={{ search.month }}&deptors={{ search.deptors }}">Exportar a Excel <mat-icon>archive</mat-icon></a></li>      
      
      
      <li (click)="getDebtors()"><a>Recargar <mat-icon>cached</mat-icon></a></li>
  </ul>
</div>

<div class="flex">
  <div class="l4">
    <label>Mes:</label><br>
    <select [(ngModel)]="search.month" name="month" (change)="getDebtors()">
            <option *ngFor="let m of months" value="{{m.value}}">{{m.view}}</option>           
    </select>
  </div>
  <div class="l4">
    <label>Año:</label><br>
    <input  type="number" [(ngModel)]="search.year" name="year" (change)="getDebtors()">
  </div>

  <div class="l4">
    <label>Estatus de usuario:</label><br>
    <select [(ngModel)]="search.deptors" name="deptors">
      <option value="1">Pendiente</option>           
      <option value="0">Al corriente</option>           
    </select>
  </div>

</div>

<div>
  <h3>Alumnos sin Adeudo: {{ regularUsersBack.length +  "/" + (pendUsersBack.length + regularUsersBack.length) }}</h3>
  <form class="flex">
    <div class="l4">
      
      <label>Buscar Alumno:</label>
      <div class="icon-left">
        <input [(ngModel)]="search.name" name="name" type="search" (keyup)="searchWriting()">
        <label class="icon"><mat-icon>search</mat-icon></label>
      </div>
    </div>
  </form>
  
</div>


<div class="responsive-table" *ngIf="search.deptors == '1'">
  <table align="center" *ngIf="pendUsers.length > 0">
      <thead>
          <tr>
              <!-- <th class="left">id</th> -->
              <th>Alumno</th>
              <th>Edad</th>
              <th>Mensualidad</th>
              <th>Ultimo Pago</th>
              <th></th>
          </tr>
          <!-- <th colspan="3">Opciones</th> -->
      </thead>
      <tbody>
          <tr *ngFor="let re of pendUsers">
              <td class="left" [routerLink]="['/users/show', re.id]"><a>{{ re.name }}</a></td>
              <td>{{ re.edad }}</td>
              <td>${{ re.monthly_payment.amount }}</td>
              <td>{{ re.ultimoPago.created_at }}</td>
              <td><a class="btn secundary small quitMargin"  (click)="pay(re)">Pagar</a></td>

          </tr>
      </tbody>

  </table>  
  <h3 *ngIf="pendUsers.length == 0">Sin Alumnos Pendientes</h3>
</div>

<div class="responsive-table" *ngIf="search.deptors != 1">

  <table align="center" *ngIf="pendUsers.length > 0">
    <thead>
        <tr>
            <!-- <th class="left">id</th> -->
            <th>Alumno</th>
            <th>Pagó</th>
            <th>Fecha de Pago</th>
            <th>Edad</th>
        </tr>
        <!-- <th colspan="3">Opciones</th> -->
    </thead>
    <tbody>
        <tr *ngFor="let re of regularUsers">
            <td class="left" [routerLink]="['/users/show', re.id]"><a>{{ re.name }}</a></td>
            <td>${{ re.ultimoPago.amount }}</td>
            <td>{{ re.ultimoPago.created_at }}</td>
            <td>{{ re.edad }}</td>



        </tr>
    </tbody>

</table>  
<h3 *ngIf="regularUsers.length == 0">Sin Alumnos Regulares</h3>

</div>