<mat-progress-bar mode="indeterminate" *ngIf="request > 0" class="barLoader"></mat-progress-bar>
<h4><span [routerLink]="['../../']">Precios</span> >> {{ price.hours }}hrs.</h4>


<div>
  <button routerLink="{{ '/monthly-cost/ver/' + this.price.id}}">Ver</button>
  <button routerLink="{{ '/monthly-cost/ver/' + this.price.id  + '/edit'}}" (click)="sendObject()">Modificar</button>
  <button (click)="deleteC = true">Eliminar</button>
  <button routerLink="{{ '/monthly-cost/ver/' + this.price.id  + '/verificar'}}" (click)="sendObject()">Verificar Mensualidades</button>
</div>

<router-outlet></router-outlet>
<app-delete-generic *ngIf="deleteC" (actionDeleteEvent)="deleteObserve($event)" [message]="deleteMessage"></app-delete-generic>
  <div class="flexRow" *ngIf="principal && !deleteC">

    <div class="formData l6">
        <label>Horas:</label><br>
        <input class="" [(ngModel)]="price.hours" name="hours" type="number" min="0" disabled>        
    </div>

    <div class="formData l6">
        <label>Monto:</label><br>
        <input [(ngModel)]="price.cost" name="cost" type="number" min="0" disabled>        
    </div>

    <div class="formData l6">
      <label>Fecha de Creación:</label><br>
      <input [(ngModel)]="price.created_at" name="created_at"  disabled>        
    </div>

    <div class="formData l6">
      <label>Fecha de Modificación:</label><br>
      <input [(ngModel)]="price.updated_at" name="updated_at"  disabled>        
    </div>

  </div>