.createBtn {
    border: none;
    padding: 10px;
    background: #00A800;
    color: white;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 3px;
}

#createBtn {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

#search {
    background: white;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    height: 44px;
    outline: none;
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    width: 350px;
    margin-left: 15px;
}

#search:focus {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(0, 0, 0, 0.16);
}

#search:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(0, 0, 0, 0.16);
}

#search+label {
    position: absolute;
    padding-top: 5px;
    margin-left: -30px;
}

.danger {
    background: rgb(245, 187, 187);
}

.advice {
    background: rgb(248, 224, 180);
}

@media screen and (max-width: 750px) {
    #search {
        display: block;
        margin: 0 auto;
        width: 85%;
        transition: 1s;
        margin-bottom: 10px !important;
    }
    #search:focus {
        width: 98%;
    }
}

#cancelButton {
    background: #c62828;
}

#searchButton {
    background: #4caf50;
}

#sellButton {
    background: #039be5;
}