<h1 class="centerText">Inventario {{ countProduct()}}</h1>

<div class="divSearch">
    <input [(ngModel)]="search" name="search" type="text" id="search" (keyup)="searchWriting()" placeholder="Buscar Producto">
    <br>
    <mat-icon *ngIf="search == ''">search</mat-icon>
    <mat-icon *ngIf="search !== ''" (click)="search = ''">close</mat-icon>
</div>

<div class="responsive-table">
    <table>
        <thead>
            <tr>
                <th (click)="sortName()" class="alignLeft">Nombre</th>
                <th (click)="sortPrice()">Precio P</th>
                <th (click)="sortPrice()">Precio I</th>
                <th (click)="sortStock()">Cantidad</th>
                <th>Reorden</th>
                <th (click)="sortDepartment()">Departamento</th>
                <th (click)="sortCode()">Codigo</th>
            </tr>
        </thead>
        <tbody *ngIf="storage.getUserType() >= 6 && products != undefined">

            <tr (click)="updateObservable()" [routerLink]="['/inventory/edit', product.id]" *ngFor="let product of products" [ngClass]="{ 'advice': product.stock < product.reorder && product.stock > 0, 'danger': product.stock < 1 }">
                <td class="alignLeft">{{ product.name | lowercase }}</td>
                <td>$ {{ product.price_public }}</td>
                <td>$ {{ product.price_intern }}</td>
                <td> {{ product.stock }}</td>
                <td> {{ product.reorder }}</td>
                <td> {{ product.department }}</td>
                <td> {{ product.code }}</td>
            </tr>
        </tbody>

        <tbody *ngIf="storage.getUserType() == 3 && products != undefined">

            <tr *ngFor="let product of products" [ngClass]="{ 'advice': product.stock < product.reorder && product.stock > 0, 'danger': product.stock < 1 }">
                <td class="alignLeft">{{ product.name | lowercase }}</td>
                <td>$ {{ product.price_public }}</td>
                <td>$ {{ product.price_intern }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.reorder }}</td>
                <td>{{ product.department }}</td>
                <td>{{ product.code }}</td>
            </tr>

        </tbody>
    </table>

    <mat-paginator (page)="testPage($event)" [length]="countProduct()" [pageSize]="25" [pageSizeOptions]="lenghtArrayOptions">
    </mat-paginator>

</div>

<div class="floatOptions">

    <div class="moreOptions">

        <a target="_blank" href="{{ url.url }}excel/inventory{{ storage.getTokenUrl() }}">
            <button matTooltip="Descargar Inventario" matTooltipPosition="left" mat-fab id="cancelButton">
                        <mat-icon >archive</mat-icon>
                    </button>
        </a>

        <button (click)="createObservable()" [routerLink]="['/inventory/create']" *ngIf="storage.getUserType() >= 6 " matTooltip="Nuevo Producto" matTooltipPosition="left" mat-fab id="sellButton">
                <mat-icon >create</mat-icon>
            </button>

        <button *ngIf="storage.getUserType() == 3" matTooltip="Nuevo Producto" matTooltipPosition="left" mat-fab id="sellButton">
                <mat-icon >create</mat-icon>
            </button>

    </div>

    <button matTooltip="Opciones de Inventario" matTooltipPosition="left" mat-fab color="pri" class="floatOptionPrincipal">
                    <mat-icon >settings</mat-icon>
                </button>

</div>


<!-- <app-new-product *ngIf="createPro" (closeEvent)="createPro = false" (createEvent)="newProduct($event)"></app-new-product> -->
<router-outlet></router-outlet>