<a class="btn-floating btn-large waves-effect waves-light orange" id="btnNew" (click)="createUser = !createUser"><i class="material-icons">add</i></a>


<div class=ToClosePop *ngIf="createUser">
    <div class="cancel" (click)="createUser = !createUser"></div>
    <div class="card">

        <h4> Crear un nuevo Usuario</h4>

        <form (submit)="form()">

            <div class="row">

                <div class="col l6">
                    <label class="active" for="first_name2">Nombre Completo</label>
                    <input placeholder="Pepe Alvarez" type="text" [(ngModel)]="user.name" name="name">
                </div>

                <div class="col l4">
                    <label class="active">Email </label>
                    <input type="email" [(ngModel)]="user.email" name="email">
                </div>

                <div class="col l2">
                    <mat-select placeholder="Sexo" [(ngModel)]="user.gender" name="gender">
                        <mat-option value="M">Masculino</mat-option>
                        <mat-option value="F">Femenino</mat-option>
                    </mat-select>

                    <label class="active">Selecciona el sexo</label>
                </div>

            </div>



            <h5>Fecha de Nacimiento </h5>

            <div class="row">

                <div class="col l2">
                    <label>Día </label>
                    <input type="number" [(ngModel)]="day" name="day">
                </div>

                <div class="col l2">

                    <mat-select placeholder="Mes" [(ngModel)]="month" name="month">
                        <mat-option *ngFor="let month of months" [value]="month.value">{{ month.viewValue}}</mat-option>
                    </mat-select>

                </div>

                <div class="col l2">
                    <label>Año </label>
                    <input type="number" [(ngModel)]="year" name="year">
                </div>
            </div>

            <h5>Tipo de Usuario </h5>

            <a class="btn" (click)="verificacion()">console.log</a>

            <div id="typesUser">

                <div (click)="user.userTypeId = 1" [ngClass]="{activeUser: user.userTypeId === 1}">

                    <p><strong>Empleado</strong></p>
                    <img src="http://localhost:8000/img/aplication/iconTeacher.png" width="30%">
                    <br><br>

                    <a class="btn" [ngClass]="{ 'grey lighten-2': verificar[0] == null || verificar[0] > 0 }" (click)="salaryView = !salaryView" *ngIf="user.userTypeId == 1">Salario</a>
                    <a class="btn orange" (click)="scheduleView = !scheduleView" *ngIf="user.userTypeId == 1">Horarios</a>

                    <br><br>

                </div>

                <div (click)="user.userTypeId = 2" [ngClass]="{activeUser: user.userTypeId === 2}">

                    <p><strong>Gimnasta</strong></p>
                    <img src="http://localhost:8000/img/aplication/iconGymnastic.png" width="30%">
                    <br><br>

                    <a class="btn" [ngClass]="{ 'grey lighten-2': verificar[1] == null || verificar[1] > 0 }" (click)="paymentView = !paymentView" *ngIf="user.userTypeId == 2">Pagos</a>
                    <a class="btn" (click)="scheduleView = !scheduleView" *ngIf="user.userTypeId == 2">Horarios</a>

                    <br><br>

                </div>

                <div (click)="user.userTypeId = 3" [ngClass]="{activeUser: user.userTypeId === 3}">
                    <p><strong>Administrador</strong></p>
                    <img src="http://localhost:8000/img/aplication/iconAdmin.png" width="30%">
                    <br><br>

                    <br><br>
                </div>

            </div>




            <h5>Dirección </h5>

            <div class="row">
                <div class="col l6">
                    <label>Calle:</label>
                    <input type="text" [(ngModel)]="user.street" name="street" placeholder="7 Poniente Norte">
                </div>
                <div class="col l3">
                    <label>Colonia:</label>
                    <input type="text" [(ngModel)]="user.colony" name="colony" placeholder="Terán">
                </div>
                <div class="col l3">
                    <label>Numero:</label>
                    <input type="text" [(ngModel)]="user.hauseNumber" name="hauseNumber">
                </div>

                <div class="col l3">
                    <label>Ciudad:</label>
                    <input type="text" [(ngModel)]="user.city" name="city">
                </div>
            </div>

            <input type="submit" class="btn green">

        </form>

        <a (click)="sendRequest()">Envia Prueba</a>


        <app-schedule [schedules]="schedules" [scheduleView]="scheduleView"></app-schedule>
        <app-new-payment *ngIf="paymentView" [paymentView]="paymentView" [payment]="payment" [verificar]="verificar"></app-new-payment>
        <app-new-salaries *ngIf="salaryView" [salaryView]="salaryView" [salary]="salary" [verificar]="verificar"></app-new-salaries>

    </div>
</div>