#btnNew {
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.ToClosePop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.cancel {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    cursor: pointer;
}

.card {
    padding: 15px;
    width: 70%;
    max-width: 1000px;
    max-height: 85%;
    text-align: center;
    overflow: scroll;
}

#typesUser {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

#typesUser div {
    width: 25%;
    margin: 1%;
    display: block;
    cursor: pointer;
}

#typesUser p {
    text-align: center;
    font-size: 30px;
}

#typesUser img {
    width: 100%;
    display: block;
}

.activeUser {
    background: rgb(155, 240, 255);
}