<mat-progress-bar mode="indeterminate" *ngIf="request" class="barLoader"></mat-progress-bar>

<div class="cardSpace" [@background]="state[0].background">

    <div class="closeCardBackground" (click)="closePop()">
        <h5 class="closeIcon">
            <mat-icon>close</mat-icon>
        </h5>
    </div>

    <div class="cardModule" [@card]="state[0].card">

        <form *ngIf="form == 1" (submit)="checkClientMoney()">
            <h2>Dinero del Cliente</h2>
            <div>
                <input id="saleClientMoney" type="number" [(ngModel)]="sale.receipts[0].payment" name="payment" min="{{sale.total}}" [ngClass]="{'inputError': !(sale.receipts[0].payment >= sale.total)}"><br>
                <small class="error" *ngIf="!(sale.receipts[0].payment >= sale.total)">El monto debe ser mayor a ${{sale.total}}</small>
            </div>
            <button type="submit" class="btn btnAccept" [disabled]="!(sale.receipts[0].payment >= sale.total)">Confirmar</button>

        </form>

        <form *ngIf="form == 2" (submit)="confirmSale()">
            <h2>Cambio: ${{ sale.receipts[0].payment - sale.total }}</h2>
            <button id="salesBtnConfirm" type="submit" class="btn btnAccept">Confirmar</button>
        </form>

        <form *ngIf="form == 3" (submit)="debtForm()">

            <h2>Asignar credito a...</h2>
            <div class="search">

                <input id="saleSearchUser" [(ngModel)]="saleDebt.user_name" [matAutocomplete]="auto" name="user_name" type="search" placeholder="Buscar Usuario" (keyup)="searchInput($event)">

                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let sugest of sugests" [value]="sugest.name" (onSelectionChange)="searchReceiptId(sugest.id)">
                        {{ sugest.name }}
                    </mat-option>
                </mat-autocomplete>

                <button *ngIf="request == false" type="submit" class="btn btnAccept">Confirmar</button>
                <button *ngIf="request == true" type="submit" class="btn" disabled>Confirmar</button>
            </div>
        </form>

    </div>







</div>