form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

form div {
    width: 49%;
    position: relative;
    padding: 10px;
}

form div input,
select {
    width: 100%;
}

form div small {
    position: absolute;
    right: 10px;
    margin-top: 0px;
}

form .error {
    color: rgb(250, 150, 150);
}

.container {
    display: block;
    width: 85%;
    margin: 0 auto;
    max-width: 1100px;
}