<div class="cardSpace">



    <div class="loginCardModule">
        <img id="logo" src="http://www.woloskygimnasia.com/images/Wolosky-Logo.png">
        <h2 id="bienvenida">Inicia sesión </h2>
        <img src="https://loading.io/spinners/double-ring/lg.double-ring-spinner.gif" class="loader" *ngIf="serverConection">
        <div id="formSpace">

            <form (submit)="accesar()" [ngClass]="{loading: serverConection}">

                <p *ngIf="form.email == 1">* Correo Requerido </p>
                <p *ngIf="form.password == 1">* Contraseña Requerida</p>


                <input *ngIf="!serverConection" [(ngModel)]="data.email" name="email" type="email" placeholder="Correo o Telefono" #mail2><br>
                <input *ngIf="serverConection" [(ngModel)]="data.email" name="email" type="email" placeholder="Correo o Telefono" disabled><br>

                <input *ngIf="!serverConection" [(ngModel)]="data.password" name="password" type="password" placeholder="Contraseña" #password2>
                <input *ngIf="serverConection" [(ngModel)]="data.password" name="password" type="password" placeholder="Contraseña" disabled><br>


                <button class="btn " id="btnLog">Iniciar sesión</button>


                <!-- <button id="btnFacebook" class="btn">Iniciar con Facebook</button> -->
                <p>¿Olvidaste tu Contraseña?</p>
            </form>

            <!-- <hr>
            <div class="registrateSection">
                <span>¿Aún no estás registrado?</span>
                <button>Registrate</button>
            </div> -->

        </div>


    </div>
</div>