<div class="cardSpace" style="background-image: url(assets/img/login.jpg)">



    <div class="loginCardModule">
        <img id="logo" src="http://www.woloskygimnasia.com/images/Wolosky-Logo.png">
        <h2 id="bienvenida">Inicia sesión </h2>
        <img src="https://loading.io/spinners/double-ring/lg.double-ring-spinner.gif" class="loader" *ngIf="serverConection">
        <div id="formSpace">

            <form (submit)="accesar()" [ngClass]="{loading: serverConection}">

                <p *ngIf="form.email == 1">* Correo Requerido </p>
                <p *ngIf="form.password == 1">* Contraseña Requerida</p>

                <div>
                    <div class="icon-left">
                        <input [(ngModel)]="data.email" name="email" type="email" placeholder="Correo o Telefono" id="select">
                        <label class="icon"><mat-icon>mail</mat-icon></label>
                    </div>
                </div>
                <div>
                    <div class="icon-left">
                        <input [(ngModel)]="data.password" name="password" type="password" placeholder="Contraseña" id="select2">
                        <label class="icon"><mat-icon>security</mat-icon></label>
                    </div>
                </div>

                <button class="btn " id="btnLog" [disabled]="serverConection">Iniciar sesión</button>


                <!-- <button id="btnFacebook" class="btn">Iniciar con Facebook</button> -->
                <!-- <p>¿Olvidaste tu Contraseña?</p> -->
                <br>
                <p class="centerText pass" routerLink="/resetear-contraseña">

                    ¿Has olvidado la contraseña?

                </p>
            </form>

            <!-- <hr>
            <div class="registrateSection">
                <span>¿Aún no estás registrado?</span>
                <button>Registrate</button>
            </div> -->

        </div>


    </div>
</div>