<mat-progress-bar mode="indeterminate" *ngIf="sendingData.notifications" class="barLoader"></mat-progress-bar>
<mat-progress-bar mode="indeterminate" *ngIf="sendingData.receipts" class="barLoader"></mat-progress-bar>

<div class="relative">

    <h2 class="centerText">Recibos de Alumnos </h2>

    <a class="linkExcel" href="{{ storage.getUrl() + 'excel/receipt' +storage.getTokenUrl() }}
    &from={{ search.from }}&to={{ search.to }}&id={{ search.id }}">
        <p>Exportar a Excel</p>
        <img src="http://icons.iconarchive.com/icons/graphicloads/filetype/256/excel-xls-icon.png">
    </a>



    <div *ngIf="notifications.on" class="notifyReceipt">
        <h5>Notificaciones</h5>
        <div>
            <p>Hay #{{ notifications.debtorsMonthly }} alumnos con pagos pendientes de este mes.
                <span (click)="notifications.viewDebtors = !notifications.viewDebtors">Ver Alumnos</span>
            </p>

            <div *ngIf="notifications.viewDebtors" id="debtors">
                <p *ngFor="let deb of notifications.debtors" (click)="debtorPay(deb.id)" [routerLink]="['/receipt/create']"> {{ deb.name }}</p>
            </div>
            <!-- <p>Hay #{{ notifications.debtorsInscription }} alumnos con inscripciones pendientes de este mes.</p> -->
        </div>

    </div>

    <form class="form" (submit)="getReceipts()">
        <input (change)="getReceipts()" type="date" [(ngModel)]="search.from" name="from" id="search"><label><mat-icon>date_range</mat-icon></label>
        <input (change)="getReceipts()" type="date" [(ngModel)]="search.to" name="to" id="search"><label><mat-icon>date_range</mat-icon></label>

        <input [(ngModel)]="search.name" [matAutocomplete]="auto" name="name" id="search" type="search" placeholder="Buscar Usuario" (keyup)="searchInput($event)"><label><mat-icon>search</mat-icon></label>

        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let sugest of sugests" [value]="sugest.name" (onSelectionChange)="searchReceiptId(sugest.id)">
                {{ sugest.name }}
            </mat-option>
        </mat-autocomplete>

    </form>




    <div class="responsive-table">
        <table align="center">
            <thead>
                <tr>
                    <!-- <th class="left">id</th> -->
                    <th>Alumno</th>
                    <th>Fecha</th>
                    <th>Monto</th>
                    <th>Tipo</th>
                </tr>
                <!-- <th colspan="3">Opciones</th> -->
            </thead>
            <tbody *ngIf="storage.getUserType() >= 6">
                <tr *ngFor="let re of receipts" [routerLink]="['/receipt/edit', re.id]" (click)="updateStartObservable()">
                    <td class="left">{{ re.user_name }}</td>
                    <td>{{ re.created_at }}</td>
                    <td>$ {{ re.amount }}</td>
                    <td *ngIf="re.type == 1">Mensualidad</td>
                    <td *ngIf="re.type == 2">Inscripcion</td>
                    <td *ngIf="re.type == 3">Día</td>
                    <td *ngIf="re.type == 4">Uniforme</td>
                    <td *ngIf="re.type == 5">Evento</td>

                </tr>
            </tbody>

            <tbody *ngIf="storage.getUserType() == 3">
                <tr *ngFor="let re of receipts">
                    <td class="left">{{ re.user.name }}</td>
                    <td>{{ re.created_at }}</td>
                    <td>$ {{ re.amount }}</td>
                    <td *ngIf="re.type == 1">Mensualidad</td>
                    <td *ngIf="re.type == 2">Inscripcion</td>
                    <td *ngIf="re.type == 3">Día</td>
                    <td *ngIf="re.type == 4">Uniforme</td>
                    <td *ngIf="re.type == 5">Evento</td>

                </tr>

            </tbody>
        </table>

        <mat-paginator (page)="pageAction($event)" [length]="search.total" [pageSize]="search.items" [pageSizeOptions]="[5, 10, 25, 50, 100]">
        </mat-paginator>

    </div>

</div>

<a [routerLink]="['/receipt/create']">
    <div class="botonFloat">
        <a class="botonA" matTooltip="Crear recibo"><i class="material-icons">add</i></a>
    </div>
</a>

<router-outlet></router-outlet>