<router-outlet></router-outlet>
<mat-progress-bar mode="indeterminate" *ngIf="sendingData" class="barLoader"></mat-progress-bar>

<div *ngIf="principal">

    <h2 class="linksTitle">Recibos / Lista </h2>

    <div class="menuHelper">
        <ul>
            <li [routerLink]="['./create']"><a>Crear Recibo <mat-icon>edit</mat-icon></a></li>
            <li><a target="_blank" href="{{ storage.getUrl() + 'excel/receipt' +storage.getTokenUrl() }}
                &from={{ search.from }}&to={{ search.to }}&id={{ search.id }}">Descargar Recibos <mat-icon>archive</mat-icon></a></li>
            <li [routerLink]="['./deudores']" ><a>Ver Estudiantes Sin Pago <mat-icon>people</mat-icon></a></li>
            
            
            <li (click)="getReceipts()"><a>Recargar <mat-icon>cached</mat-icon></a></li>
        </ul>
    </div>

    <form class=" flex" (submit)="getReceipts()">
        <div class="l4">
            <div class="icon-left">
                <input (change)="getReceipts()" type="date" [(ngModel)]="search.from" name="from">
                <label class="icon"><mat-icon>date_range</mat-icon></label>
            </div>
        </div>

        <div class="l4" *ngIf="credential >= 6">
            <div class="icon-left">
                <input (change)="getReceipts()" type="date" [(ngModel)]="search.to" name="to">
                <label class="icon"><mat-icon>date_range</mat-icon></label>
            </div>
        </div>
        <div class="l4">
            <div class="icon-left">
                <input [(ngModel)]="search.name" [matAutocomplete]="auto" name="name" type="search" placeholder="Buscar Usuario" (keyup)="searchInput($event)">
                <label class="icon"><mat-icon>search</mat-icon></label>
            </div>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let sugest of sugests" [value]="sugest.name">
                    {{ sugest.name }}
                </mat-option>
            </mat-autocomplete>
        </div>
    </form>




    <div class="responsive-table">
        <table align="center">
            <thead>
                <tr>
                    <!-- <th class="left">id</th> -->
                    <th>Alumno</th>
                    <th>Monto</th>
                    <th>Descripción</th>
                    <th>Fecha-Hora Creación</th>
                </tr>
                <!-- <th colspan="3">Opciones</th> -->
            </thead>
            <tbody>
                <tr *ngFor="let re of receipts" [routerLink]="['/receipt/show', re.id]">
                    <td class="left"><a [routerLink]="['/users/show', re.user_id]">{{ re.user.name }}</a></td>
                    <td>$ {{ re.amount }}</td>
                    <td>{{re.descriptionView}}</td>
                    <td>{{ re.created_at }}</td>
                </tr>
            </tbody>

        </table>

        <mat-paginator (page)="pageAction($event)" [length]="search.total" [pageSize]="search.items" [pageSizeOptions]="[5, 10, 25, 50, 100]">
        </mat-paginator>

    </div>

</div>