<mat-progress-bar mode="indeterminate" *ngIf="sendingData > 0" class="barLoader"></mat-progress-bar>

<div class="cardSpace" [@background]="state.background">

    <div class="closeCardBackground" (click)="closePop()">
        <h5 class="closeIcon">
            <mat-icon>close</mat-icon>
        </h5>
    </div>

    <div class="cardModule" [@card]="state.card">
        <br>
        <h2 class="centerText">Evento <br>{{event.name }}</h2>

        <div class="options">


            <mat-icon (click)="editEventView()" matTooltip="Editar Evento" matTooltipPosition="below">edit</mat-icon>
            <mat-icon (click)="participantsEventView()" matTooltip="Administrar Participantes" matTooltipPosition="below">group</mat-icon>
            <mat-icon (click)="receiptsEventView()" matTooltip="Recibos del Evento" matTooltipPosition="below">receipt</mat-icon>
            <mat-icon (click)="deleteEventView()" matTooltip="Eliminar Evento" matTooltipPosition="below">delete</mat-icon>
        </div>

        <form class="flex" *ngIf="view == 1">

            <div class="formData l12">
                <label>Nombre:</label><br>
                <input [(ngModel)]="event.name" name="name" type="text" disabled>
            </div>

            <div class="formData l4">
                <label>Costo:</label><br>
                <input [(ngModel)]="event.cost" name="cost" type="number" disabled>
            </div>

            <div class="formData l4">
                <label>Fecha inicio:</label><br>
                <input [(ngModel)]="event.date" name="date" type="date" disabled>
            </div>

            <div class="formData l4">
                <label>Fecha Final *Opcional:</label><br>
                <input [(ngModel)]="event.date_to" name="date_to" type="date" disabled>
            </div>

            <div class="formData l12">
                <label>Description *Opcional:</label><br>
                <textarea [(ngModel)]="event.description" name="description" disabled></textarea>
            </div>
        </form>

        <div *ngIf="view == 2">
            <app-edit-event [event]="event" (updateEventEmit)="update($event)"></app-edit-event>
        </div>
        <div *ngIf="view == 3">
            <app-participants-event [event]="event"></app-participants-event>
        </div>
        <div *ngIf="view == 4">
            <app-receipts-event [event]="event"></app-receipts-event>
        </div>
        <div *ngIf="view == 5">
            <h3>Eliminar Evento</h3>
            <p>¿Estas seguro de eliminar este evento? - Si eliminas el evento los recibos podran ser vistos al menos que marque la casilla para eliminar tambien los recibos relacionados al evento</p>
            <mat-checkbox [(ngModel)]="deleteReceipts">Eliminar con recibos</mat-checkbox>
            <div class="confirmCancel" *ngIf="sendingData == 0">
                <button class="btn btnCancel" (click)="view = 1">Cancelar</button>
                <button class="btn btnDelete" (click)="delete()">Aceptar</button>
            </div>
        </div>
    </div>
</div>