<mat-progress-bar mode="indeterminate" *ngIf="request" class="barLoader"></mat-progress-bar>

<div class="cardSpace" [@background]="state.background">

    <div class="closeCardBackground" (click)="closePop()">
        <h5 class="closeIcon">
            <mat-icon>close</mat-icon>
        </h5>
    </div>

    <div class="cardModule" [@card]="state.card">
        <h2>Editar Producto</h2>
        <label class="delete" (click)="editProcess = !editProcess"><mat-icon>delete</mat-icon></label>
        <form *ngIf="editProcess" (submit)="formSubmit()" autocomplete="off" [ngClass]="{ 'loadingForm': request == true}">
            <div>
                <label>Nombre</label><br>
                <input [(ngModel)]="productEditable.name" name="name" type="text" [ngClass]="{ 'inputError': form.name >= 1, 'inputVerified': form.name == -1 }"><br>
                <small class="smallError" *ngIf="form.name == 1">Requerido</small>
                <small class="smallError" *ngIf="form.name == 2">Nombre ya asignado</small>
            </div>

            <div>
                <label>Precio</label><br>
                <input [(ngModel)]="productEditable.price" name="price" type="number" [ngClass]="{ 'inputError': form.price >= 1}" min="0"><br>
                <small class="smallError" *ngIf="form.price == 1">Requerido</small>
            </div>

            <div>
                <label>Precio de compra</label><br>
                <input [(ngModel)]="productEditable.cost_price" name="cost_price" type="number" min="0"><br>
            </div>

            <div>
                <label>Cantidad</label><br>
                <input [(ngModel)]="productEditable.stock" name="stock" type="number"><br>
            </div>

            <div>
                <label>Reorden</label><br>
                <input [(ngModel)]="productEditable.reorder" name="reorder" type="number" min="0"><br>
            </div>

            <div>
                <label>Departamento:</label><br>
                <input [(ngModel)]="productEditable.department" name="department" type="text"><br>
            </div>

            <div>
                <label>Codigo de barras</label><br>
                <input [(ngModel)]="productEditable.code" name="code" type="text" [ngClass]="{ 'inputError': form.code >= 1, 'inputVerified': form.code == -1 }"><br>
                <small class="smallError" *ngIf="form.code == 2">Codigo ya asignado</small>
            </div>


            <button type="submit" class="btn btnAccept">Editar</button>

        </form>

        <div *ngIf="!editProcess">
            <h2>Confirmar la eliminacion del producto {{ product.name }}</h2>
            <button (click)="editProcess = !editProcess">Cancelar</button>
            <button (click)="deleteProduct()">Aceptar</button>
        </div>

    </div>
</div>