<mat-progress-bar mode="indeterminate" *ngIf="request" class="barLoader"></mat-progress-bar>
<app-print-receipt [receipt]="receipt"></app-print-receipt>
<div class="cardSpace" [@background]="state.background">

    <div class="closeCardBackground" (click)="closePop()">
        <h5 class="closeIcon">
            <mat-icon>close</mat-icon>
        </h5>
    </div>

    <div class="cardModule" [@card]="state.card">

        <h2 class="centerText">Recibo #{{ receipt.id }}</h2>

        <div class="options">
            <i class="material-icons" (click)="window = 1" matTooltip="Ver Recibo">visibility</i>
            <i class="material-icons" (click)="window = 3" matTooltip="Editar Recibo" *ngIf="credential > 5">edit</i>
            <i class="material-icons" (click)="printReceipt()" matTooltip="Imprimir recibo">print</i>
            <i class="material-icons" (click)="window = 2" matTooltip="Eliminar Recibo" *ngIf="credential > 5">delete</i>
        </div>


        <form class="flex" *ngIf="window == 1">



            <h2 class="l12 credit">
                <i class="material-icons" [ngClass]="{ 'green-text': receipt.payment_type == false}" matTooltip="Pago en efectivo">attach_money</i>
                <i class="material-icons" [ngClass]="{ 'green-text': receipt.payment_type == true}" matTooltip="Pago con tarjeta">credit_card</i>
            </h2>


            <div class="formData l12">
                <label>Nombre de Alumno:</label><br>
                <p>{{ receipt.user.name }}</p>
            </div>

            <div class="formData l12">
                <label>Creador:</label><br>
                <p>{{ receipt.creator.name }}</p>
            </div>

            <div class="formData l6">
                <label>Monto:</label><br>
                <p>${{ receipt.amount }}</p>

            </div>

            <div class="formData l6">

                <label>Tipo de recibo:</label><br>
                <p>{{ receipt.typeView() }}</p>

            </div>

            <div class="formData l6">

                <label>Descripción:</label><br>
                <p *ngIf="receipt.type != 3">{{ receipt.descriptionView }}</p>
                <p *ngIf="receipt.type == 3">{{ receipt.description }}</p>

            </div>
            
            <div class="formData l12" *ngIf="receipt.type == 5 ">
                <label>Evento:</label><br>
                <p>{{ receipt.event.name }}</p>
            </div>

            <div class="formData l6">
                <label>Fecha-Hora Creación:</label><br>
                <p>{{ receipt.created_at }}</p>
            </div>

            <div class="formData l6">
                <label>Fecha-Hora Actualizacion:</label><br>
                <p>{{ receipt.updated_at }}</p>
            </div>

            <!-- <div *ngIf="receipt.type == 5" class="formData l6">
                <label>Descripción:</label><br>
                <input [(ngModel)]="receipt.description" name="description" type="text">
                <small class="error" *ngIf="validation.description == 1">Campo requerido*</small>

            </div> -->




        </form>

        <div *ngIf="window == 2">
            <h3>¿Estas seguro/a que desea borrar este Recibo?</h3>
            <p>Una vez eliminado ya no se podra recuperar</p>
            <div class="confirmCancel">
                <button class="btn btnCancel" (click)="deleteWindow()">Cancelar</button>
                <button class="btn btnDelete" (click)="delete()">Aceptar</button>
            </div>
        </div>

        <app-edit-receipt [receiptEdit]="receipt" *ngIf="window == 3"></app-edit-receipt>


    </div>
</div>