<div id="reciboNew">


    <h2 class="centerText">Horarios</h2>

    <div *ngFor="let day of dataOrder" class="flexRow">

        <h4 class="centerText">Día: {{ day.day }}</h4>

        <div *ngFor="let schedule of day.schedules" class="l4">

            <div>

                <h5 class="centerText">Horario: {{ schedule.check_in }} - {{ schedule.check_in + 1 }}</h5>

                <ul>
                    <li *ngFor="let user of schedule.users">
                        {{ user.user_name }}

                        <mat-icon routerLink="/users/show/{{ user.user_id }}/schedule" matTooltip="Editar Horario" matTooltipPosition="left">edit</mat-icon>
                    </li>
                </ul>


            </div>

        </div>
    </div>

</div>