h4 {
    display: block;
    width: 100%;
    font-size: 25px;
}

h5 {
    font-size: 20px;
    color: darkslategrey
}

li {
    font-size: 12px;
}

li:hover mat-icon {
    opacity: 1;
}

li mat-icon {
    position: absolute;
    transform: scale(.7);
    margin-top: -6px;
    opacity: 0;
    transition: .5s;
    cursor: pointer;
}