<h2>Editar Asistencia</h2>
<form class=" flex" (submit)="update()">

    <div class="l6">
        <label>Usuario:</label>
        <p><a [routerLink]="['/users/show', record.user_id]">{{ record.user.name }}</a></p>
    </div>
    <div class="l6">
        <label>Tipos de usuario:</label><br>
        <p disabled>{{ record.user.typeView }}</p>                
    </div>
  
    <div class="l6">              
        <label>Entrada:</label><br>
        <input type="time" [(ngModel)]="record.checkIn" name="checkIn">                                                  
    </div>
    <div class="l6">              
        <label>Salida:</label><br>
        <input type="time" [(ngModel)]="record.checkOut" name="checkOut">                                                  
    </div>

    <div class="l6">              
        <label>Fecha:</label><br>
        <input type="date" [(ngModel)]="record.date" name="date">                                                  
    </div>    

    <div class="l6" *ngIf="record.isWorked()">              
        <label>Tiempo trabajado:</label><br>
        <input [(ngModel)]="record.time_worked" name="time_worked">                                                  
    </div>

    <div class="l6" *ngIf="record.isWorked()">              
        <label>Tiempo Extra:</label><br>
        <input [(ngModel)]="record.time_extra" name="time_extra">                                                  
    </div>

    <div class="l6" *ngIf="record.isWorked()">              
        <label>Tipo de asistencia:</label><br>
        <p>{{ record.typeView() }}</p>            
    </div>

    
    <div class="l12" *ngIf="record.isWorked()">              
        <label>Observación:</label><br>
        <textarea [(ngModel)]="record.observation" name="observation"></textarea>            
    </div>

    <!-- <div class="l12">
        <div class="icon-left">
            <input [(ngModel)]="search.name"  name="name" type="search" placeholder="Buscar Usuario">
            <label class="icon"><mat-icon>search</mat-icon></label>
        </div>
        
    </div> -->
    <button class="btn blue l12">Actualizar</button>        
</form>