.cardModule {
    width: 70%;
}

#reciboNew {
    position: absolute;
    display: none;
    /* margin: 0; */
}

.credit {
    text-align: center !important;
    font-size: 60px !important;
}

.credit i {
    cursor: pointer;
    font-size: 60px !important;
    padding: 0 25px;
}
