<mat-progress-bar mode="indeterminate" *ngIf="sendingData.monthly" class="barLoader"></mat-progress-bar>
<mat-progress-bar mode="indeterminate" *ngIf="sendingData.request" class="barLoader"></mat-progress-bar>

<app-print-receipt [receipt]="receipt"></app-print-receipt>
<div class="cardSpace" [@background]="state.background">

    <div class="closeCardBackground" (click)="closePop()">
        <h5 class="closeIcon">
            <mat-icon>close</mat-icon>
        </h5>
    </div>

    <div class="cardModule" [@card]="state.card">
        <h2 class="centerText">Crear Recibo</h2>

        <form *ngIf="window == 1" (submit)="createReceipt()" class="flex">

            <p class="l12" *ngIf="validation.uniquePaymentMonthly == 1">Ya se realizo el pago de este mes</p><br>
            <h2 class="l12 credit">
                <i class="material-icons" [ngClass]="{ 'green-text': receipt.payment_type == false}" (click)="receipt.payment_type = false" matTooltip="Pago en efectivo">attach_money</i>
                <i class="material-icons" [ngClass]="{ 'green-text': receipt.payment_type == true}" (click)="receipt.payment_type = true" matTooltip="Pago con tarjeta">credit_card</i>
            </h2>
            <div class="l6 relative">
                <label>Nombre de Alumno:</label><br>
                <input [(ngModel)]="receipt.user.name" name="name" type="search" [matAutocomplete]="auto" (keyup)="searchSugest($event)">
                <small class="error" *ngIf="validation.user_id == 1 ">Seleccione un Usuario</small>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let user of sugests" [value]="user.name" (onSelectionChange)="setMonthlyPayment(user)">
                        {{ user.name }}
                    </mat-option>
                </mat-autocomplete>

            </div>

            <div class="l6">

                <label>Tipo de pago:</label><br>
                <select [(ngModel)]="receipt.type" name="type" (change)="restoreValidations()">
                        <option value="1">Mensualidad</option> 
                        <option value="2">Inscripcion</option>
                        <option value="3">Otro</option>
                        <!-- <option value="4">Uniforme</option>                                                 -->
                        <!-- <option value="5">Evento/Viajes/Otros</option>                                                 -->
                        <!-- <option value="6">Otros</option>                                                 -->
                </select>

            </div>

            <div class="l6 relative">
                <label>Monto:</label><br>

                <input *ngIf="receipt.type == 1 && auth.user_type_id <= 4" [(ngModel)]="receipt.monthlyAmount" name="monthlyAmount" type="number" disabled>
                <input *ngIf="receipt.type == 1 && auth.user_type_id >= 6" [(ngModel)]="receipt.monthlyAmount" name="monthlyAmount" type="number" min="0">

                <small class="validate" *ngIf="validation.paymentDate == 1 && receipt.type == 1">Descuento ${{desc}}.00</small>
                <small class="error" *ngIf="validation.paymentDate == 2 && receipt.type == 1">Recargo ${{recharge}}.00</small>

                <input *ngIf="receipt.type > 1" [(ngModel)]="receipt.amount" name="amount" type="number" min="0">                

                <small class="error" *ngIf="validation.amount == 1">Requerido</small>

            </div>

            <div *ngIf="receipt.type == 1" >
                <label>Mes:</label><br>
                <select [(ngModel)]="receipt.month" name="month" (change)="validateMonthlyPayment()">
                    <option  *ngFor="let x of months" value="{{ x.value }}">{{ x.view}}</option>
                </select>
            </div>

            <div *ngIf="receipt.type < 3" class="relative">
                <label>Año:</label><br>
                <input [(ngModel)]="receipt.year" name="year" type="number" min="2000" max="9999" (change)="validateMonthlyPayment()">
                <small class="error" *ngIf="validation.year == 1">Requerido</small>
            </div>

            <div *ngIf="receipt.type == 3" class="l12 relative">
                <label>Descripción:</label><br>
                <textarea [(ngModel)]="receipt.description" name="description"></textarea>
                <small class="error" *ngIf="validation.description == 1">5 caracteres requeridos*</small>
            </div>

            <button *ngIf="sendingData.request == false" class="btn l12" type="submit">Crear Recibo</button>
            <button *ngIf="sendingData.request == true" class="btn l12" style="background: rgb(209, 209, 209)" disabled>Crear Recibo</button>

        
        </form>

        <div *ngIf="window == 2">
            <button class="btn secundary l12" (click)="printReceipt()">Imprimir Recibo</button>
        </div>


    </div>
</div>