<mat-progress-bar mode="indeterminate" *ngIf="sendingData" class="barLoader"></mat-progress-bar>

<div class="background" [@background]="backgroundState"></div>
<div id="createCard" [@principal]="cardState">

    <div id="cerrarBtn" [routerLink]="['../']"> Cerrar <i class="material-icons">close</i></div>

    <div class="form" [ngClass]="{'loadingForm': sendingData == true}">
        <h1 align="center" (click)="con(user.schedules)">Horarios</h1>
        <h2 align="center" (click)="con(scheduleDays)">{{ user.name }}</h2>
        <h3 align="center">{{ user.getUserTypeView() }}</h3>

        <div class="options">

            <a href="{{ storage.getUrl() }}pdf/scheduleUser{{ storage.getTokenUrl() }}&id={{user.id}}" target="_blank">
                <mat-icon matTooltip="Imprimir Horario de Usuario" matTooltipPosition="below">local_printshop</mat-icon>
            </a>

        </div>

        <div *ngIf="validations.validate == false" class="divErrors">
            <h5>Error/es:</h5>
            <p *ngIf="validations.checkIn == 1">No se ha asignado la hora de entrada en todos los campos</p>
            <p *ngIf="validations.checkOut == 1">No se ha asignado la hora de salida en todos los campos</p>
            <p *ngIf="validations.format == 1">Recuerda que siempre la H.Entrada debe ser mas temprano que la H.Salida</p>
        </div>

        <!-- <button (click)="selectLV()" class="btn LV">L-V</button> -->
        <!-- [ngClass]="{active: x.active}" -->
        <button (click)="createNewSchedule(day.day_id)" matTooltip="Crear Horario en día {{ day.day_id | dayPipe}}"  *ngFor="let day of days" class="btn black">{{ day.day }}</button>
        <button class="btn blue" *ngIf="scheduleCopied">Horario Copiado: 
            {{ scheduleCopied.check_in | time }} - {{ scheduleCopied.check_out | time }}
        </button>
        
        <form (submit)="form()">
            <table>
                <thead>
                    <tr>
                        <th>Día</th>
                        <th>Hora de Entrada</th>
                        <th>Hora de Salida</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let day of scheduleDays; let i = index">
                        <tr  *ngIf="day.schedules.length > 0">


                                <th (click)="createNewSchedule(day.day_id)">{{ day.day_id | dayPipe }}</th>
                                <th> 
                                    <ng-container *ngFor="let sche of day.schedules"> 
                                        <div>
                                            <span *ngIf="!sche.edit && sche.check_in != nul">{{ sche.check_in | time }}</span>
                                            <span *ngIf="!sche.edit && sche.check_in == null">Asigne Hora de Entrada</span>
                                            <input *ngIf="sche.edit" id="editCheckIn" (change)="countHours()" [ngClass]="{inputError: sche.error == 1}" [(ngModel)]="sche.check_in" name="check_in{{sche.id}}" type="time">
                                        </div>
                                    </ng-container>
                                    
                                </th>
                                <th>
                                    <ng-container *ngFor="let sche of day.schedules"> 
                                        <div>
                                            <span *ngIf="!sche.edit && sche.check_out != nul">{{ sche.check_out | time }}</span>
                                            <span *ngIf="!sche.edit && sche.check_out == null">Asigne Hora de Entrada</span>
                                            <input *ngIf="sche.edit" id="" (change)="countHours()" [ngClass]="{inputError: sche.error == 1}" [(ngModel)]="sche.check_out" name="check_out{{sche.id}}" type="time">
                                        </div>
                                    </ng-container>
                                </th>
                                        
        
                                <th>
                                    <ng-container *ngFor="let x of day.schedules"> 
                                        <div>
                                            <button type="button" (click)="deleteSchedule(x)" class="red btn btnCancel">Eliminar</button>
                                            <button type="button" (click)="startEditSche(x)" class="btn green">Editar</button>
                                            <button type="button" class="btn orange" (click)="copySchedule(x)">Copiar</button>
                                            <button type="button" class="btn black white-text" (click)="pasteSchedule(x)" *ngIf="scheduleCopied">Pegar</button>
                                        </div>
                                    </ng-container>
                                    
                                </th>
        
                            </tr>
                        </ng-container>
                    <!-- <tr *ngFor="let x of user.schedules; let i = index">


                        <th (click)="createNewSchedule(x)">{{ x.day_id | dayPipe }}</th>
                        <th *ngIf="!x.edit" (click)="startEditSche(x)"  [ngClass]="{inputError: x.error == 1}"> 
                            <span *ngIf="x.check_in != null">{{ x.check_in | time }}</span>
                            <span *ngIf="x.check_in == null">Asigne Hora de Entrada</span>
                        </th>
                        <th *ngIf="!x.edit" (click)="startEditSche(x)"  [ngClass]="{inputError: x.error == 1}">
                            <span *ngIf="x.check_out != null">{{ x.check_out | time }}</span>
                            <span *ngIf="x.check_out == null">Asigne Hora de Salida</span>
                        </th>

                        <th *ngIf="x.edit">
                            <input id="editCheckIn" (change)="countHours()" [ngClass]="{inputError: x.error == 1}" [(ngModel)]="x.check_in" name="check_in{{x.id}}" type="time">
                        </th>
                        <th *ngIf="x.edit"><input (change)="countHours()" [ngClass]="{inputError: x.error == 1}" [(ngModel)]="x.check_out" name="check_out{{x.id}}" type="time">
                        </th>

                        <th>
                            <button type="button" (click)="deleteSchedule(x)" class="red btn btnCancel">Eliminar</button>
                            <button type="button" (click)="startEditSche(x)" class="btn green">Editar</button>
                            <button type="button" class="btn orange" (click)="copySchedule(x)">Copiar</button>
                            <button type="button" class="btn black white-text" (click)="pasteSchedule(x)" *ngIf="scheduleCopied">Pegar</button>
                        </th>

                    </tr> -->
                </tbody>
            </table>

            <div *ngIf="result.hours != 0 && user.user_type_id == 1" >
                <p>Horas: {{result.hours}}</p>
                <p>Precio Por Horas Sugerido: ${{result.amount}}</p>
                <p>Monto Actual: ${{ user.monthly_payment.amount }}</p>
                <div class="l4" *ngIf="credential >= 6">
                    <label>Mensualidad:</label>
                    <input type="number" min="0" [(ngModel)]="result.amountForce" name="amountForce">
                </div>
                <p>Si los horarios son actualizados la mensualidad del alumn@ se vera afectada.</p>

            </div>

            <button type="submit" class="btn blue">Actualizar Horarios</button>
        </form>



    </div>
</div>