<mat-progress-bar mode="indeterminate" *ngIf="sendingData" class="barLoader"></mat-progress-bar>

<div class="background" [@background]="backgroundState"></div>
<div id="createCard" [@principal]="cardState">

    <div id="cerrarBtn" [routerLink]="['../']"> Cerrar <i class="material-icons">close</i></div>

    <div class="form" [ngClass]="{'loadingForm': sendingData == true}">
        <h1 align="center">Asignar Horarios</h1>

        <div class="options">

            <a href="{{ storage.getUrl() }}pdf/scheduleUser{{ storage.getTokenUrl() }}&id={{user.id}}" target="_blank">
                <mat-icon matTooltip="Imprimir Horario de Usuario" matTooltipPosition="below">local_printshop</mat-icon>
            </a>

        </div>

        <div *ngIf="validations.validate == false" class="divErrors">
            <h5>Error/es:</h5>
            <p *ngIf="validations.checkIn == 1">No se ha asignado la hora de entrada en todos los campos</p>
            <p *ngIf="validations.checkOut == 1">No se ha asignado la hora de salida en todos los campos</p>
            <p *ngIf="validations.format == 1">Recuerda que siempre la H.Entrada debe ser mas temprano que la H.Salida</p>
        </div>

        <button (click)="selectLV()" class="btn LV">L-V</button>
        <!-- [ngClass]="{active: x.active}" -->
        <button (click)="changeActive(day)" *ngFor="let day of days" class="btn">{{ day.day }}</button>

        <form (submit)="form()">
            <table>
                <thead>
                    <tr>
                        <th>Día</th>
                        <th>Hora de Entrada</th>
                        <th>Hora de Salida</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of schedules">


                        <th (click)="createNewSchedule(x)">{{ x.dayView }}</th>
                        <th (click)="startEditSche(x)" *ngIf="x.edit == false" [ngClass]="{inputError: x.error == 1}"> {{ x.check_in | time }}</th>
                        <th (click)="startEditSche(x)" *ngIf="x.edit == false" [ngClass]="{inputError: x.error == 1}"> {{ x.check_out | time }}</th>

                        <th *ngIf="x.edit == true">
                            <input id="editCheckIn" (change)="setResult()" [ngClass]="{inputError: x.error == 1}" [(ngModel)]="x.check_in" name="check_in" type="time">
                        </th>
                        <th *ngIf="x.edit == true"><input (change)="setResult()" [ngClass]="{inputError: x.error == 1}" [(ngModel)]="x.check_out" name="check_out" type="time">
                        </th>

                        <th (click)="deleteSchedule(x)">
                            <div class="btn btnCancel">Eliminar</div>
                        </th>

                    </tr>
                </tbody>
            </table>

            <div *ngIf="result.hours != 0 && user.user_type_id == 1">
                <p>Horas: {{result.hours}}</p>
                <p>Precio Por Horas: ${{result.amount}}</p>
                <p>Monto Anterior: ${{ result.amountActual }}</p>
                <input type="number" min="0" [(ngModel)]="result.amountForce" name="amountForce" *ngIf="credential >= 6">

            </div>

            <button type="submit" class="btn formBtn">Asignar Horarios</button>
        </form>



    </div>
</div>