h1 {
    margin-top: 50px;
}

input:disabled {
    background: white;
    color: black;
}

.scheduleInactive {
    display: none;
}

.imgUser {
    display: block;
    margin: 0 auto;
    max-width: 250px;
}

.imgUser img {
    max-width: 250px;
    max-height: 250px;
    display: block;
}