#createCard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 10;
    overflow-y: scroll;
}

h2 {
    margin-top: 0;
}

.referenceBtn {
    background: rgb(201, 0, 0);
}

.horarioBtn {
    background: rgb(201, 0, 0);
}

.formBtn {
    padding: 20px;
    background: rgb(0, 103, 199);
    border: none;
}

.formBtn:hover {
    background: rgb(0, 132, 255);
    transform: scale(1.05);
}

.formBtn:focus {
    background: rgb(0, 132, 255);
    transform: scale(1.05);
}

#cerrarBtn {
    padding: 10px;
    background: black;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: .25s;
}

#cerrarBtn:hover {
    background: red;
}

.form {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

.form1 {
    display: flex;
    flex-flow: row wrap;
}

.form1 div {
    width: 48%;
    /* padding: 20px 0; */
}


/* esctructurada css para  Inputs y labels etc */

.background {
    position: absolute;
    top: 0;
    right: 0;
    background: black;
    height: 100vh;
    width: 100vw;
    z-index: 9;
}

.scheduleInactive {
    background: rgb(196, 196, 196);
}