<form class="flex" (submit)="update()">

    <h2 class="l12 credit">
        <i class="material-icons" [ngClass]="{ 'green-text': receipt.payment_type == false}" (click)="receipt.payment_type = false" matTooltip="Pago en efectivo">attach_money</i>
        <i class="material-icons" [ngClass]="{ 'green-text': receipt.payment_type == true}" (click)="receipt.payment_type = true" matTooltip="Pago con tarjeta">credit_card</i>
    </h2>


    <div class="formData l12">
        <label>Nombre de Alumno:</label><br>
        <input class="l12" [(ngModel)]="receipt.user.name" name="user.name" type="search" disabled>
    </div>

    <div class="formData l12">
        <label>Creador:</label><br>
        <input class="l12" [(ngModel)]="receipt.creator.name" name="creator.name" type="search" disabled>
    </div>

    <div class="formData l6">

        <label>Tipo de recibo:</label><br>
        <p>{{ receipt.typeView() }}</p>

    </div>

    <div class="formData l6">
        <label>Monto:</label><br>
        <input [(ngModel)]="receipt.amount" name="amount" type="number" min="0">

    </div>



    <div *ngIf="receipt.type == 1" class="formData l6">
        <label>Mes:</label><br>
        <p>{{ receipt.monthView() }}</p>
    </div>

    <div class="formData l6" *ngIf="receipt.type == 1 || receipt.type == 2">
        <label>Año:</label><br>
        <p>{{ receipt.year }}</p>
    </div>

    <div *ngIf="receipt.type == 3" class="formData l6">
        <label>Dias:</label><br>
        <input [(ngModel)]="receipt.days" name="days" type="number" min="1" max="30">

    </div>


    <button *ngIf="request == false" class="btn" type="submit">Editar Recibo</button>
    <button *ngIf="request == true" class="btn formBtn" style="background: rgb(209, 209, 209)" disabled>Editar Recibo</button>


</form>