.iconTrash {
    color: grey;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: .4s;
    cursor: pointer;
}

.iconTrash:hover {
    color: firebrick;
}

.checkBox {
    color: green;
    position: absolute;
    right: 20px;
    top: 80px;
}

.checkBox mat-icon {
    color: green;
    transform: scale(.6);
    position: relative;
    top: 10px;
}

.credit {
    text-align: center !important;
    font-size: 60px !important;
}

.credit i {
    cursor: pointer;
    font-size: 60px !important;
    padding: 0 25px;
}