<div class="relative">
    <h1 class="centerText">Punto de Venta</h1>

    <div class="type">

        <label>Tipo de Venta:</label><br>
        <select [(ngModel)]="sale.type" name="type" (change)="checkPrices()">
            <option value="1">Público</option> 
            <option value="2">Interno</option>
            <option value="3">Interno Quincena</option>                                                           
            
    </select>

    </div>

    <form (submit)="identifyProduct()">

        <div class="divSearch">

            <input [(ngModel)]="search.name" [matAutocomplete]="auto" (keyup)="getSugest($event.keyCode)" placeholder="Codigo de barras / Nombre del producto" name="name" type="search" id="search">

            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let product of sugests" [value]="product.name">
                    {{ product.name }}
                </mat-option>
            </mat-autocomplete>

            <br>
            <mat-icon *ngIf="search.name == ''">search</mat-icon>
            <mat-icon *ngIf="search.name !== ''" (click)="search.name = ''">close</mat-icon>

        </div>

        <h3 class="totalForm">Total: {{ sale.total }}</h3>

    </form>

    <div class="responsive-table">

        <table>

            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Subtotal</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let desc of sale.description">
                    <td>{{ desc.product.name | lowercase }}</td>
                    <td *ngIf="desc.modify == true">
                        <form (submit)="finishModify(desc)">
                            <input id="focusModify" (keyup)=changingQuantity(desc) (blur)="finishModify(desc)" [(ngModel)]="desc.quantity" name="quantity" type="number" min="1">
                        </form>
                    </td>
                    <td *ngIf="desc.modify == false" (click)="startModify(desc)">{{ desc.quantity }}</td>
                    <td>${{ desc.price }}</td>
                    <td>${{ desc.subtotal }}</td>
                    <td>
                        <mat-icon (click)="sale.deleteProduct(desc.product_id)">remove_shopping_cart</mat-icon>
                        <mat-icon (click)="startModify(desc)">edit</mat-icon>
                    </td>

                </tr>

            </tbody>
        </table>

    </div>



    <button (click)="goSaleProcess()" *ngIf="sale.description.length != 0" class="btn btnSale">Vender</button>
    <button *ngIf="sale.description.length == 0" class="btn  btnSaleNone" disabled>Vender</button>

    <div class="floatOptions">

        <div class="moreOptions">

            <button (click)="restoreSale()" matTooltip="Cancelar Venta" matTooltipPosition="left" mat-fab id="cancelButton">
                    <mat-icon >cancel</mat-icon>
                </button>

            <button [routerLink]="['/sale-point/search']" matTooltip="Buscar Product" matTooltipPosition="left" mat-fab id="searchButton">
                    <mat-icon >search</mat-icon>
                </button>

            <button (click)="goSaleProcess()" matTooltip="Realizar Venta" matTooltipPosition="left" mat-fab id="sellButton">
                    <mat-icon >add_shopping_cart</mat-icon>
                </button>

        </div>

        <button mat-fab color="pri" class="floatOptionPrincipal" matTooltip="Opciones de Venta" matTooltipPosition="left">
                <mat-icon >edit</mat-icon>
            </button>

    </div>


</div>
<router-outlet></router-outlet>