<mat-progress-bar mode="indeterminate" *ngIf="request" class="barLoader"></mat-progress-bar>
<router-outlet></router-outlet>
<div *ngIf="principal">

<H2 class="centerText">Mensualidades por Horas</H2>
<div class="responsive-table">

    <table *ngIf="credential >= 6">
        <thead>
            <tr>
                <th *ngIf="sort == 0" (click)="sortHoursUp()">Horas
                    <mat-icon>arrow_drop_down</mat-icon>
                </th>

                <th *ngIf="sort == 1" (click)="sortHoursDown()">Horas
                    <mat-icon>arrow_drop_up</mat-icon>
                </th>
                <th>Costo</th>
                <th>Fecha/Creacion</th>
                <th>Ultima Actualización</th>                
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let x of monthlyPrices"  [routerLink]="['./ver', x.id]">
                <td> {{ x.hours }}</td>
                <td> ${{ x.cost }}</td>                
                <td>{{ x.created_at | date: format }} {{ x.created_at | date: 'hh:mm a' }}</td>
                <td>{{ x.updated_at | date: format }} </td>               
            </tr>
        </tbody>
        
    </table>

    <table *ngIf="credential <= 5 && credential >= 1">
        <thead>
            <tr>

                <th *ngIf="sort == 0" (click)="sortHoursUp()">Horas
                    <mat-icon>arrow_drop_down</mat-icon>
                </th>

                <th *ngIf="sort == 1" (click)="sortHoursDown()">Horas
                    <mat-icon>arrow_drop_up</mat-icon>
                </th>

                <th>Costo</th>
                <th>Fecha/Creacion</th>
                <th>Ultima Actualización</th>

            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let x of monthlyPrices">
                <td> {{ x.hours }}</td>
                <td> ${{ x.cost }}</td>
                <td>{{ x.created_at | date: format }} {{ x.created_at | date: 'hh:mm a' }}</td>
                <td>{{ x.updated_at | date: format }} </td>

            </tr>


        </tbody>
    </table>

</div>


<div class="floatOptions" *ngIf="credential >= 6">

    <div class="moreOptions">

        <a target="_blank" href="">
            <button class="green" matTooltip="Descargar Precios" matTooltipPosition="left" mat-fab id="cancelButton">
                <mat-icon >archive</mat-icon>
            </button>
        </a>
<!-- 
        <button class="orange" matTooltip="Deudores del mes" matTooltipPosition="left" mat-fab>
            <mat-icon >people</mat-icon>
        </button> -->

        <button class="blue" [routerLink]="['./create']" matTooltip="Crear Precio" matTooltipPosition="left" mat-fab>
            <mat-icon >create</mat-icon>
        </button>
    </div>

    <button matTooltip="Opciones de Mensualidades" matTooltipPosition="left" mat-fab color="pri" class="floatOptionPrincipal">
        <mat-icon >settings</mat-icon>
    </button>

</div>
</div>
