<div class=ToClosePop *ngIf="scheduleView">
    <div class="cancel" (click)="scheduleView = !scheduleView"></div>
    <div class="card">
        <h5>Establezca los horarios del Usuario</h5>
        <div class="">
            <button class="btn blue" (click)="activeLV()">L - V</button>

            <button *ngFor="let schedule of schedules" class="btn" [ngClass]="{grey: !schedule.active}" (click)="schedule.active = !schedule.active">{{ schedule.dayView }}</button>



        </div>
        <div>
            <table>
                <thead>

                    <tr>
                        <th>Dia</th>
                        <th>Entrada</th>
                        <th>Salida</th>
                    </tr>

                </thead>
                <tbody>

                    <ng-container *ngFor="let schedule of schedules">
                        <ng-container *ngIf="schedule.active == true">

                            <tr *ngFor="let horario of schedule.horario">

                                <td>{{ schedule.dayView }}</td>
                                <td>

                                    <label *ngIf="horario.checkIn > horario.checkOut">Establezca el horario correctamente</label>
                                    <input [ngClass]="{ valid: horario.checkIn < horario.checkOut, invalid: horario.checkIn > horario.checkOut }" type="time" [(ngModel)]="horario.checkIn">

                                </td>
                                <td>

                                    <label *ngIf="horario.checkIn > horario.checkOut">Establezca el horario correctamente</label>
                                    <input [ngClass]="{ valid: horario.checkIn < horario.checkOut, invalid: horario.checkIn > horario.checkOut }" type="time" [(ngModel)]="horario.checkOut">

                                </td>

                            </tr>
                        </ng-container>
                    </ng-container>

                </tbody>
            </table>

            <button class="btn" [ngClass]="{red: validar > 0, green: validar == 0 }" (click)="finish()">Validar</button>



        </div>


    </div>
</div>

*/