<h3 class="centerText">Administrar participantes</h3>

<div class="divSearch">
    <input [(ngModel)]="search.name" (keyup)="searchParticipants()" placeholder="Buscar Usuario" name="search" type="search">

    <br>
    <mat-icon *ngIf="search.name == ''">search</mat-icon>
    <mat-icon *ngIf="search.name !== ''" (click)="search.name = ''">close</mat-icon>
</div>


<mat-accordion>

    <mat-expansion-panel>

        <mat-expansion-panel-header>

            <mat-panel-title>
                Filtros de Busqueda
                <mat-icon>settings</mat-icon>
            </mat-panel-title>

        </mat-expansion-panel-header>

        <div class="flex" (click)="searchParticipants()">

            <div class="l12">
                <p>Status de Usuario</p>
                <div class="flex centerFlex">
                    <mat-checkbox [(ngModel)]="search.active">Activos</mat-checkbox>
                    <mat-checkbox [(ngModel)]="search.inactive">Inactivos</mat-checkbox>
                </div>

            </div>

            <div class="l12">
                <p>Tipos de Usuario</p>
                <div class="flex centerFlex">
                    <mat-checkbox [(ngModel)]="search.typeA">Alumnos</mat-checkbox>
                    <mat-checkbox [(ngModel)]="search.typeT">Trabajadores</mat-checkbox>
                    <mat-checkbox [(ngModel)]="search.typeO">Otros</mat-checkbox>
                </div>

            </div>

            <div class="l12">
                <p>Genero</p>
                <div class="flex centerFlex">
                    <mat-checkbox [(ngModel)]="search.genderM">Masculino</mat-checkbox>
                    <mat-checkbox [(ngModel)]="search.genderF">Femenino</mat-checkbox>
                </div>
            </div>



        </div>

    </mat-expansion-panel>
</mat-accordion>

<div class="responsive-table">
    <table align="center">
        <thead>
            <tr>
                <th class="left" (click)="changeSort()">Nombre</th>
                <th>Monto a pagar</th>
                <th>Activo </th>
            </tr>
            <!-- <th colspan="3">Opciones</th> -->
        </thead>
        <tbody>
            <tr *ngFor="let participant of participants">

                <td class="left">{{ participant.user.name }}</td>
                <td>${{ participant.cost }}</td>
                <td><mat-checkbox [(ngModel)]="participant.active"></mat-checkbox></td>

            </tr>
        </tbody>
    </table>
</div>