<h3 class="centerText">Administrar participantes {{countUsersInEvent()}}/{{ participantsBackUp.length }}</h3>

<div class="divSearch">
    <input [(ngModel)]="search.name" (keyup)="searchParticipantsWriting()" placeholder="Buscar Usuario" name="search" type="search">

    <br>
    <mat-icon *ngIf="search.name == ''">search</mat-icon>
    <mat-icon *ngIf="search.name !== ''" (click)="search.name = ''">close</mat-icon>
</div>


<mat-accordion>

    <mat-expansion-panel>

        <mat-expansion-panel-header>

            <mat-panel-title>
                Filtros de Busqueda
                <mat-icon>settings</mat-icon>
            </mat-panel-title>

        </mat-expansion-panel-header>

        <div class="flex">

            <div class="l12" (click)="filterParticipants()">
                <p>Status de Usuario</p>
                <div class="flex centerFlex">
                    <mat-checkbox [(ngModel)]="search.active">Alta</mat-checkbox>
                    <mat-checkbox [(ngModel)]="search.inactive">Baja</mat-checkbox>
                </div>
            </div>

            <div class="l12" (click)="filterParticipants()">
                <p>Tipos de Usuario</p>
                <div class="flex centerFlex">
                    <mat-checkbox [(ngModel)]="search.typeA">Alumnos</mat-checkbox>
                    <mat-checkbox [(ngModel)]="search.typeT">Trabajadores</mat-checkbox>
                    <mat-checkbox [(ngModel)]="search.typeO">Otros</mat-checkbox>
                </div>

            </div>

            <div class="l12" (click)="filterParticipants()">
                <p>Genero</p>
                <div class="flex centerFlex">
                    <mat-checkbox [(ngModel)]="search.genderM">Masculino</mat-checkbox>
                    <mat-checkbox [(ngModel)]="search.genderF">Femenino</mat-checkbox>
                </div>
            </div>



        </div>

    </mat-expansion-panel>
</mat-accordion>

<div class="responsive-table">
    <table align="center">
        <thead>
            <tr>
                <th class="left" (click)="changeSort()">Nombre
                    <i class="material-icons" *ngIf="search.orderBy">arrow_drop_down</i>
                    <i class="material-icons" *ngIf="!search.orderBy">arrow_drop_up</i>
                </th>
                <th>Monto a pagar</th>
                <th (click)="changeSortStatus()">Activo
                    <i class="material-icons" *ngIf="search.status">arrow_drop_down</i>
                    <i class="material-icons" *ngIf="!search.status">arrow_drop_up</i>
                </th>
            </tr>
            <!-- <th colspan="3">Opciones</th> -->
        </thead>
        <tbody>
            <tr *ngFor="let participant of participants">

                <td class="left">{{ participant.user.name }}</td>
                <td matTooltip="Clic para personalizar el Monto" matTooltipPosition="below" (click)="editPrice(participant)">
                    <span *ngIf="!participant.edit_price"> ${{ participant.cost }}</span>
                    <form *ngIf="participant.edit_price" (submit)="updatePrice(participant)">
                        <input id="focusModify" (blur)="finishModify(participant)" [(ngModel)]="participant.cost" name="cost" type="number" min="1">
                    </form>
                </td>
                <td>
                    <mat-checkbox (click)="activeParticipant(participant)" [(ngModel)]="participant.active"></mat-checkbox>
                </td>

            </tr>
        </tbody>
    </table>
</div>