<mat-progress-bar mode="indeterminate" *ngIf="request" class="barLoader"></mat-progress-bar>

<div class="relative">

    <h1 class="routeTitle">DEUDORES ABARROTERIA</h1>

    <a class="linkExcel" href="{{ storage.getUrl() + 'excel/debtors' +storage.getTokenUrl() }}
    &from={{ search.from }}&to={{ search.to }}&id={{ search.id }}">
        <p>Exportar a Excel</p>
        <img src="http://icons.iconarchive.com/icons/graphicloads/filetype/256/excel-xls-icon.png">
    </a>


    <input [(ngModel)]="search.from" name="from" type="date">
    <input [(ngModel)]="search.to" name="to" type="date">

    <div class="search">

        <input [(ngModel)]="search.name" [matAutocomplete]="auto" name="name" type="search" placeholder="Buscar Usuario" (keyup)="searchInput()">

        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let sugest of sugests" [value]="sugest.name" (onSelectionChange)="searchReceiptId(sugest.id)">
                {{ sugest.name }}
            </mat-option>
        </mat-autocomplete>
    </div>

    <button (click)="get()">BUSCAR</button>

    <div class="responsive-table">

        <table align="center">

            <thead>
                <tr>
                    <th class="left">ID</th>
                    <th>Deudor</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                </tr>
                <!-- <th colspan="3">Opciones</th> -->
            </thead>

            <tbody *ngIf="storage.getUserType() >= 6">
                <tr *ngFor="let debt of debtors" [routerLink]="['/expenses/edit', debt.id]" [ngClass]="{ 'status1': debt.status == 1 }">
                    <td class="left">{{ debt.id }}</td>
                    <td> {{ debt.user_name }}</td>
                    <td>$ {{ debt.total }}</td>
                    <td *ngIf="debt.status == 1">Pendiente</td>
                    <td *ngIf="debt.status == 2">Pagado</td>
                    <td>{{ debt.created_at | date: format}}</td>
                    <td>{{ debt.created_at | date: 'hh:mm a' }}</td>
                </tr>
            </tbody>

            <tbody *ngIf="storage.getUserType() == 3">
                <tr *ngFor="let debt of debtors">
                    <td class="left">{{ debt.id }}</td>
                    <td>{{ debt.user_name }}</td>
                    <td>${{ debt.total }}</td>
                    <td *ngIf="debt.status == 1">Pendiente</td>
                    <td *ngIf="debt.status == 2">Pagado</td>
                    <td>{{ debt.created_at | date: format}}</td>
                    <td>{{ debt.created_at | date: 'hh:mm a' }}</td>
                </tr>
            </tbody>

        </table>

        <mat-paginator (page)="pageAction($event)" [length]="search.total" [pageSize]="search.items" [pageSizeOptions]="[5, 10, 25, 50, 100]">
        </mat-paginator>

    </div>

</div>

<router-outlet></router-outlet>