<mat-progress-bar mode="indeterminate" *ngIf="request" class="barLoader"></mat-progress-bar>

<div class="relative">

    <h1 class="centerText">DEUDORES ABARROTERIA</h1>

    <a class="linkExcel" href="{{ storage.getUrl() + 'excel/debtors' +storage.getTokenUrl() }}
    &from={{ search.from }}&to={{ search.to }}&id={{ search.id }}">
        <p>Exportar a Excel</p>
        <img src="http://icons.iconarchive.com/icons/graphicloads/filetype/256/excel-xls-icon.png">
    </a>




    <form class=" flex">
        <div class="l4 ">
            <div class="icon-left">
                <input (change)="get()" type="date" [(ngModel)]="search.from" name="from">
                <label class="icon"><mat-icon>date_range</mat-icon></label>
            </div>
        </div>

        <div class="l4">
            <div class="icon-left">
                <input (change)="get()" type="date" [(ngModel)]="search.to" name="to">
                <label class="icon"><mat-icon>date_range</mat-icon></label>
            </div>
        </div>

        <div class="l4 ">
            <div class="icon-left">
                <input [(ngModel)]="search.name" [matAutocomplete]="auto" name="name" type="search" placeholder="Buscar Usuario" (keyup)="searchInput($event)" (submit)="get()">
                <label class="icon"><mat-icon>search</mat-icon></label>
            </div>
        </div>

        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let sugest of sugests" [value]="sugest.name" (onSelectionChange)="searchReceiptId(sugest.id)">
                {{ sugest.name }}
            </mat-option>
        </mat-autocomplete>

    </form>



    <div class="responsive-table">

        <table align="center">

            <thead>
                <tr>
                    <th class="left">ID</th>
                    <th>Deudor</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Acciones</th>
                </tr>
                <!-- <th colspan="3">Opciones</th> -->
            </thead>

            <tbody *ngIf="storage.getUserType() >= 6">
                <tr *ngFor="let debt of debtors" [ngClass]="{ 'status1': debt.status == 1 , 'updating': debt.updating}">
                    <td class="left">{{ debt.id }}</td>
                    <td> <span *ngIf="debt.user"> {{ debt.user.name }}</span></td>
                    <td>$ {{ debt.total }}</td>
                    <td *ngIf="debt.status == true">Pendiente</td>
                    <td *ngIf="debt.status == false">Pagado</td>
                    <td>{{ debt.created_at | date: format}}</td>
                    <td>{{ debt.created_at | date: 'hh:mm a' }}</td>
                    <td>
                        <button *ngIf="!debt.updating" (click)="update(debt)">Pagar</button>
                        <button *ngIf="debt.updating" disabled>Pagar</button>
                        <button (click)="delete(debt)">Eliminar</button>
                    </td>
                </tr>
            </tbody>

            <tbody *ngIf="storage.getUserType() == 3">
                <tr *ngFor="let debt of debtors">
                    <td class="left">{{ debt.id }}</td>
                    <td>{{ debt.user_name }}</td>
                    <td>${{ debt.total }}</td>
                    <td *ngIf="debt.status == true">Pendiente</td>
                    <td *ngIf="debt.status == false">Pagado</td>
                    <td>{{ debt.created_at | date: format}}</td>
                    <td>{{ debt.created_at | date: 'hh:mm a' }}</td>
                </tr>
            </tbody>

        </table>

        <mat-paginator (page)="pageAction($event)" [length]="search.total" [pageSize]="search.items" [pageSizeOptions]="[5, 10, 25, 50, 100]">
        </mat-paginator>

    </div>

</div>

<router-outlet></router-outlet>