<mat-progress-bar mode="indeterminate" *ngIf="sendingData" class="barLoader"></mat-progress-bar>

<div (keyup)="detectEsc($event)" class="cardSpace" [@background]="state.background">

    <div class="closeCardBackground" (click)="closePop()">
        <h5 class="closeIcon">
            <mat-icon>close</mat-icon>
        </h5>
    </div>

    <div class="cardModule" [@card]="state.card">
        <h2>Dinero en Caja</h2>

        <form (submit)="updateMoney()">

            <input id="inputMoney" [(ngModel)]="caja" name="caja" type="number" min="0">

            <button class="btn formBtn" type="submit">Actualizar Cantidad</button>

        </form>

    </div>
</div>