<nav>
    <button mat-button color="" (click)='sideNav()'><mat-icon>menu</mat-icon> Menu</button>

    <div id="userName">


    </div>
</nav>

<div class="sideNav" [@menu]='stateMenu'>
    <div style="background-image: url(https://png.pngtree.com/thumb_back/fh260/back_pic/00/12/25/24563b4acf5ccd5.jpg)" id="userInfSection">
        <div>
            <img src="https://www.w3schools.com/w3css/img_avatar3.png">
            <p>{{userData.userName | lowercase}}</p>
            <p id="emailInf">{{userData.userEmail | lowercase}}</p>
            <p *ngIf="userData.userType == 1" id="userTypeInf">Caja</p>
            <p *ngIf="userData.userType == 6" id="userTypeInf">Administrador</p>
            <p *ngIf="userData.userType == 3" id="userTypeInf">Super Administrador</p>
        </div>
    </div>

    <h5>APLICACIÓN</h5>
    <ul>
        <li><button mat-button (click)="userView()">USUARIOS</button></li>

    </ul>
    <h5>USUARIO</h5>
    <ul>
        <li><button mat-button (click)="cerrarSesion()">Cerrar Sesión</button></li>
        <!-- <li><button md-button>Perfil</button></li> -->
    </ul>


</div>

<div class="principal" [@space]="statePanel">

    <div class="principalCard">

        <router-outlet></router-outlet>
        <!-- <app-user *ngIf="views.user"></app-user> -->

    </div>

</div>