<nav>
    <button mat-button color="" (click)='sideNav()'><mat-icon>menu</mat-icon> Menu</button>

    <div id="userName">


    </div>
</nav>

<div class="sideNav" [@menu]='stateMenu'>
    <div style="background-image: url(../assets/img/backgroundMenu.jpeg)" id="userInfSection">
        <div>

            <img src="{{ auth.img }}">
            <p>{{auth.name | lowercase}}</p>
            <p id="emailInf">{{auth.email | lowercase}}</p>
            <div id="userTypeInf">
                <p >{{ auth.typeView}}</p>
                
                <p *ngIf="auth.user_type_id >= 6" class="cash" [routerLink]="['/cutout']"> $ {{ storage.getCash() }}</p>
                <p *ngIf="auth.user_type_id < 5 && auth.user_type_id > 1"> $ {{ storage.getCash() }}</p>
            </div>


        </div>
    </div>

    <h5>APLICACIÓN</h5>

    <ul *ngIf="auth.user_type_id >= 6">

        
        <li [routerLink]="['/receipt']"><button mat-button>Recibos</button></li>
        <li [routerLink]="['/parking']"><button mat-button>Estacionamiento</button></li>
        <li [routerLink]="['/schedules']"><button mat-button>Horarios</button></li>
        <li [routerLink]="['/asistencias']" *ngIf="auth.user_type_id >= 6"><button mat-button>Asistencias</button></li>

        

        <li [routerLink]="['/expenses']"><button mat-button>Gastos</button></li>        

        <!-- <li [routerLink]="['/cutout']" *ngIf="auth.getUserType() >= 6"><button mat-button>Recorte de Caja</button></li> -->
        <li [routerLink]="['/pago-trabajadores']" *ngIf="auth.user_type_id >= 6"><button mat-button>Pago Trabajadores</button></li>

    </ul>

    <h5>TIENDA</h5>
    <ul>
        <li [routerLink]="['/inventory']"><button mat-button>Inventario</button></li>
        <li [routerLink]="['/sale-point']"><button mat-button>Punto de Venta <span class="notified">{{ storage.getSalesErrorConnection() }}</span></button></li>
        <li [routerLink]="['/sales']"><button mat-button>Registro de Ventas</button></li>
        <li [routerLink]="['/sale-debt']"><button mat-button>Deudores Abarrotería</button></li>
    </ul>

    <h5>CONFIGURACION</h5>
    <ul>        
        <li [routerLink]="['/users']"><button mat-button>Usuarios</button></li>
        <li [routerLink]="['/events']"><button mat-button>Eventos</button></li>
        <li [routerLink]="['/monthly-cost']"><button mat-button>Mensualidades</button></li>
    </ul>

    <ul *ngIf="auth.user_type_id <= 5 && auth.user_type_id >= 2">


        <li [routerLink]="['/users']"><button mat-button>Usuarios</button></li>

        <li [routerLink]="['/schedules']"><button mat-button>Horarios</button></li>

        <li [routerLink]="['/receipt']"><button mat-button>Recibos</button></li>

        <li [routerLink]="['/events']"><button mat-button>Eventos</button></li>

        <!-- <li [routerLink]="['/inventory']"><button mat-button>Inventario</button></li> -->

        <li [routerLink]="['/sale-point']"><button mat-button>Punto de Venta <span class="notified">{{ auth.getSalesErrorConnection() }}</span></button></li>

        <li [routerLink]="['/sales']"><button mat-button>Registro de Ventas</button></li>

        <li [routerLink]="['/sale-debt']"><button mat-button>Deudores Abarrotería</button></li>

        <li [routerLink]="['/expenses']"><button mat-button>Gastos</button></li>

        <li [routerLink]="['/monthly-cost']"><button mat-button>Costos por Hora</button></li>

    </ul>

    <h5>USUARIO</h5>

    <ul>
        <li [routerLink]="['/perfil']"><button mat-button>Perfil</button></li>
        <li><button mat-button (click)="cerrarSesion()">Cerrar Sesión</button></li>
    </ul>


</div>

<div class="principal" [@space]="statePanel">

    <div class="principalCard">

        <router-outlet></router-outlet>
        <!-- <app-user *ngIf="views.user"></app-user> -->

    </div>

</div>


<app-notification></app-notification>