<div class=ToClosePop *ngIf="salaryView">
    <div class="cancel" (click)="salaryView = !salaryView"></div>
    <div class="card">


        <h4>Salario</h4>

        <form (submit)="verify()">
            <label>Cantidad:</label>
            <input type="number" [ngClass]="{ invalid: salary.amount < 0 }" [(ngModel)]="salary.amount" name="amount" min="0">
            <br><br>
            <md-select placeholder="Tipo de Salario" [(ngModel)]="salary.salaryTypeId" name="salaryTypeId">
                <md-option value="1">Hora</md-option>
                <md-option value="2">Día</md-option>
            </md-select>

            <br><br>
            <label>Descripción:</label>
            <textarea [(ngModel)]="salary.description" name="description" class="materialize-textarea"></textarea>

            <button class="btn" [ngClass]="{ 'grey lighten-2': salary.amount == null, 'grey lighten-2': salary.salaryTypeId == null }">Aceptar</button>
        </form>

    </div>
</div>