<router-outlet></router-outlet>
<div *ngIf="principal">
<mat-progress-bar mode="indeterminate" *ngIf="sendingData" class="barLoader"></mat-progress-bar>

<h2 class="linksTitle">Usuarios / Lista</h2>

<div class="menuHelper">
    <ul>
        
        <li [routerLink]="['./create']"><a>Crear Usuario</a></li>
        <li [routerLink]="['./filter']"><a>Filtrar/Exportar</a></li>
        <li (click)="searchRequest()"><a>Recargar</a></li>
    </ul>
</div>

<form class="flex">
    <div class="l4">
        <label>Nombre de Usuario</label>
        <input [(ngModel)]="search.searchWord" (keyup)="searchInput()" placeholder="Buscar Usuario" name="search" type="search">
    </div>
    <div>
        <button class="btn small">Buscar</button>
    </div>
</form>


<div class="responsive-table">
    <table align="center">
        <thead>
            <tr>
                <th class="left">Nombre</th>
                <th>Tipo</th>
                <th>Edad</th>
                <th>Sexo</th>
            </tr>            
        </thead>
        <tbody>
            <tr *ngFor="let user of users" [routerLink]="['/users/show', user.id]" [ngClass]="{ 'status2': user.status == 2 , 'status3': user.status == 3 }">
                <td class="left">{{ user.name }}</td>
                <td>{{ user.typeView }}</td>                
                <td>{{ user.edad }}</td>
                <td *ngIf="user.gender == 1">M</td>
                <td *ngIf="user.gender == 2">F</td>
            </tr>
        </tbody>
    </table>
    <mat-paginator (page)="pageAction($event)" [length]="search.total" [pageSize]="search.items" [pageSizeOptions]="[5, 10, 25, 50, 100]">
    </mat-paginator>
</div>



<div class="floatOptions">

        <div class="moreOptions">
    
            
            <button class="orange" matTooltip="Filtrar / Exportar Usuarios" [routerLink]="['./filter']" matTooltipPosition="left" mat-fab id="cancelButton" (click)="sendFilter()">
                <mat-icon >filter_list</mat-icon>
            </button>
            
            <!-- <button class="red darken-4"  matTooltip="Eliminar Asistencias" [routerLink]="['./delete']" matTooltipPosition="left" mat-fab>
                <mat-icon >delete</mat-icon>
            </button> -->
    
            <button class="green" [routerLink]="['./create']"  matTooltip="Nuevo Usuario" matTooltipPosition="left" mat-fab>                
                <mat-icon >create</mat-icon>
            </button>
    
        </div>
    
        <button matTooltip="Opciones de Usuarios" matTooltipPosition="left" mat-fab color="pri" class="floatOptionPrincipal">
            <mat-icon >settings</mat-icon>
        </button>
    
    </div>

</div>

