<!-- <mat-progress-bar mode="indeterminate" *ngIf="request" class="barLoader"></mat-progress-bar> -->

<div class="cardSpace" [@background]="state.background">

    <div class="closeCardBackground" (click)="closePop()">
        <h5 class="closeIcon">
            <mat-icon>close</mat-icon>
        </h5>
    </div>

    <div class="cardModule" [@card]="state.card">
        <h2 class="centerText">Exportar Usuarios Excel</h2>

        <div class="flex" (click)="validateFilter()">

            <div class="l12">
                <h5 class="centerText">Estatus de Usuario</h5>
                <div class="flex centerFlex">
                    <mat-checkbox [(ngModel)]="active">Activos</mat-checkbox>
                    <mat-checkbox [(ngModel)]="inactive">Inactivos</mat-checkbox>
                </div>

            </div>

            <div class="l12">
                <h5 class="centerText">Tipos de Usuario</h5>
                <div class="flex centerFlex">
                    <mat-checkbox [(ngModel)]="typeA">Alumnos</mat-checkbox>
                    <mat-checkbox [(ngModel)]="typeT">Trabajadores</mat-checkbox>
                    <mat-checkbox [(ngModel)]="typeO">Otros</mat-checkbox>
                </div>
            </div>

            <div class="l12">
                <h5 class="centerText">Genero</h5>
                <div class="flex centerFlex">
                    <mat-checkbox [(ngModel)]="genderM">Masculino</mat-checkbox>
                    <mat-checkbox [(ngModel)]="genderF">Femenino</mat-checkbox>
                </div>
            </div>

            <div class="l12">

                <h5 class="centerText">Rango de Edades</h5>

                <div class="flex centerFlex">

                    <div class="s6">
                        <input [(ngModel)]="age1" type="number" min="0" placeholder="Desde" (keyup)="validateFilter()">
                    </div>
                    <div class="s6">
                        <input [(ngModel)]="age2" type="number" min="0" placeholder="Hasta" (keyup)="validateFilter()">
                    </div>
                                        
                </div>

            </div>

            <div class="l12">
                <h5 class="centerText">Rango de Horas semanales</h5>
                <div class="flex centerFlex">
                    <div class="s6">
                        <input [(ngModel)]="hours1" type="number" min="0" placeholder="Desde" (keyup)="validateFilter()">
                    </div>
                    <div class="s6">
                            <input [(ngModel)]="hours2" type="number" min="0" placeholder="Hasta" (keyup)="validateFilter()">
                    </div>
                    

                </div>
            </div>

            <button *ngIf="validation" class="btn blue" (click)="sendFilter()">Filtrar Busqueda</button>
            <a class="l12" href="{{ storage.getUrl() + 'excel/users' +storage.getTokenUrl() }}&active={{ active }}&inactive={{ inactive }}&typeA={{ typeA }}&typeT={{ typeT }}&typeO={{ typeO }}&genderM={{ genderM }}&genderF={{ genderF }}&age2={{ age2 }}&age1={{ age1 }}&hours1={{ hours1 }}&hours2={{ hours2 }}">
                <button *ngIf="validation" class="btn green" >Descargar Excel</button>
            </a>

        </div>

    </div>
</div>