/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    padding: 0;
    margin: 0;
    background: whitesmoke;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

a {
    color: black;
}

.pc {
    display: flex !important;
}

.mov {
    display: none !important;
}

.relative {
    position: relative;
}

.divSearch {
    display: block;
    margin: 0 auto;
    margin-bottom: 7px;
    width: fit-content;
    position: relative;
}

.divSearch input {
    background: white;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    height: 44px;
    outline: none;
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    width: 350px;
    max-width: 500px;
    /* padding-right: 35px; */
}

.divSearch input:focus {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(0, 0, 0, 0.16);
}

.divSearch input:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(0, 0, 0, 0.16);
}

.divSearch mat-icon {
    position: absolute;
    padding-top: 10px;
    top: 1px;
    right: 10px;
    cursor: pointer;
    background: white;
    height: 25px;
}

@media screen and (max-width: 700px) {
    .divSearch {
        width: 100%;
    }
    .divSearch input {
        width: 100%;
    }
}


/* TITULO DE LA RUTA */

.routeTitle {
    /* text-align: center;*/
    margin: 0;
    margin-left: 8px;
}

.center {
    display: block;
    margin: 0 auto;
}

.centerText {
    text-align: center;
}


/* CONTENEDOR BASICO */

.container {
    display: block;
    width: 85%;
    margin: 0 auto;
    max-width: 1100px;
}


/* TABLAS campos de tabla */

.responsive-table {
    overflow-x: scroll;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: grey;
}

thead {
    background: whitesmoke;
    display: table-header-group;
    vertical-align: middle;
    border-bottom: 1px solid rgb(194, 194, 194);
}

td {
    padding: 5px 5px;
    text-transform: capitalize;
    text-align: center;
}

.left {
    text-align: left;
    /* max-width: 180px; */
}

tr:hover {
    background: rgb(235, 235, 235);
    cursor: pointer;
}

tr {
    padding: 5px 4px;
    height: 50px;
    transition: .5s;
    border-bottom: 1px solid rgb(233, 233, 233);
    ;
}

th {
    padding: 5px;
}


/* CARTITAS POPOUT */

#headerCard {
    background-color: #3f51b5;
    color: white;
    padding: 10px 30px 10px 30px;
}

.closeCardBackground {
    background: rgba(0, 0, 0, .5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9
}

.closeIcon {
    position: fixed;
    top: 10px;
    right: 10px;
    margin: 0px;
    font-size: 25px;
    color: #D1D1D1;
    cursor: pointer;
}


/* BOTONES */

.btn {
    width: 100%;
    padding: 10px;
    color: white;
    transition: .45s;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    background-color: rgb(255, 0, 200);
    transition: .35
}

.btn:focus {
    transform: scale(1.035);
    -webkit-box-shadow: 10px 10px 4px -7px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 10px 10px 4px -7px rgba(0, 0, 0, 0.28);
    box-shadow: 10px 10px 4px -7px rgba(0, 0, 0, 0.28);
}

.btn:hover {
    transform: scale(1.035);
    -webkit-box-shadow: 10px 10px 4px -7px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 10px 10px 4px -7px rgba(0, 0, 0, 0.28);
    box-shadow: 10px 10px 4px -7px rgba(0, 0, 0, 0.28);
}

.btnPrimary {
    background: #3679e4
}

.btnPrimary:hover,
.btnPrimary:focus {
    background: #004fcf
}


/* FORMULARIOS INPUTS SELECT ESTILOS*/

.flexRow {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

input,
textarea,
select {
    border: none;
    background: #ECECEC;
    padding: 10px;
    border-radius: 3px;
}

input:disabled,
textarea:disabled,
select:disabled,
p:disabled {
    background: rgb(206, 206, 206);
}

textarea {
    width: 100%;
    height: 100px;
}

.formData {
    width: 49%;
    position: relative;
    padding: 10px;
}

.formData p {
    font-weight: 700;
    margin: 0;
}

.formData input,
select {
    width: 100%;
}

form small {
    position: absolute;
    right: 10px;
    margin-top: 0px;
}

form .error {
    color: rgb(206, 11, 11);
}

form .validate {
    background: rgb(0, 172, 43);
}

form .inputError,
form input.error,
form textarea.error {
    background: rgb(243, 147, 147);
}

form p {
    margin: 0
}

form .inputValidate,
form input.error,
form textarea.error {
    background: rgb(175, 255, 195);
}

form>div {
    padding: 8px;
}

form div.icon-left input {
    padding-left: 30px
}

form>div>div {
    position: relative;
}

form div.icon-left .icon {
    position: absolute;
    top: 5px;
    left: 5px;
}

.confirmCancel {
    display: flex;
    justify-content: space-between;
}

.confirmCancel button {
    width: 45%;
}

.btnCancel {
    background: rgb(160, 160, 160);
}

.btnDelete {
    background: rgb(163, 19, 19);
}


/* cartas con entrada SLIDER */

.cardSpace {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 9;
}

.cardModule {
    border-radius: 3px;
    width: 50%;
    max-width: 1000px;
    -webkit-box-shadow: 0px 0px 57px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 57px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 57px -4px rgba(0, 0, 0, 0.75);
    background: white;
    padding: 25px;
    z-index: 10;
    position: relative;
    max-height: 80vh;
    overflow-y: scroll;
}

.cardModule .options {
    position: absolute;
    right: 20px;
    top: 20px;
}

.cardModule .options i {
    cursor: pointer;
}

.cardModule .options mat-icon {
    cursor: pointer;
    margin-right: 5px;
}

@media screen and (max-width: 750px) {
    .cardModule {
        width: 90%;
        max-height: 80%;
        overflow-y: scroll;
    }
}


/* //LOADER Y CARGADORES */

.loadingForm {
    opacity: .4 !important;
}

.barLoader {
    width: 100%;
    z-index: 100;
    position: fixed !important;
    top: 0;
}

.mat-progress-bar {
    top: 0;
    left: 0;
}

.mat-spinner {
    position: absolute !important;
    margin: 0 auto;
    z-index: 100;
    display: block;
    right: 0;
    left: 0;
    margin-top: 80px;
}


/* Input FlexBox Grid */

.flexform {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
    width: 100% !important;
}

.flexform div input {
    width: 90%;
}

.flexform div {
    width: 45%;
}


/* Inputs Grid Styles */

input {
    display: block;
    width: 100%;
}

.l12 {
    width: 100%;
}

.l9 {
    width: 75%;
}

.l6 {
    width: 49%;
}

.l4 {
    width: 32%;
}

.l3 {
    width: 24%;
}

@media screen and (max-width: 1000px) {
    .container {
        width: 92%;
    }
    .l9 {
        width: 100%;
    }
    .l6 {
        width: 100%;
    }
    .l4 {
        width: 49%;
    }
    .l3 {
        width: 49%;
    }
    .m6 {
        width: 49%;
    }
}

@media screen and (max-width: 700px) {
    .l4 {
        width: 100%;
    }
    .l3 {
        width: 100%;
    }
    .m6 {
        width: 100%;
    }
    .s6 {
        width: 49%;
    }
    .pc {
        display: none !important;
    }
    .mov {
        display: flex !important;
    }
}


/* Componentes que ocupan toda la pantalla */

#createCard {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 10;
    overflow-y: scroll;
}

#createCard .options {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#createCard .options mat-icon {
    color: black;
    cursor: pointer;
    margin-right: 14px;
}

.background {
    position: fixed;
    top: 0;
    right: 0;
    background: black;
    height: 100vh;
    width: 100vw;
    z-index: 9;
}

#cerrarBtn {
    padding: 10px;
    background: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: .25s;
}

#cerrarBtn i {
    position: relative;
    top: 5px;
}

.flex {
    display: flex !important;
    flex-flow: row wrap;
    margin: 0 auto;
}

.centerFlex {
    justify-content: space-around;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: inherit !important;
    background-image: none;
    color: rgb(0, 0, 0);
}


/* Boton flotador */

.botonFloat {
    width: 30px;
    height: 30px;
    background-color: rgb(255, 0, 200);
    margin: 5px;
    padding: 21px;
    font-size: 11px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-transform: uppercase;
    float: left;
    box-sizing: content-box;
    /*font-size: 40px; 
    text-align: center;
    
    line-height:32px;
    */
    position: fixed;
    right: 15px;
    bottom: 15px;
    transition: .4s;
}

.botonFloat:hover {
    opacity: 0.50;
    -moz-opacity: .50;
    filter: alpha (opacity=50);
}

.botonA {
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 5px 5px 5px 0;
}

.material-icons {
    /* font-size: 31px; */
    /* color: #ffffff; */
}


/* BOTON FLOTADOR CON OPCIONES */

.floatOptions {
    position: fixed;
    bottom: 15px;
    right: 15px;
    /* overflow: hidden; */
}

.floatOptions:hover .moreOptions {
    opacity: 1;
    transform: translateY(0);
    margin-bottom: 12px;
}

.floatOptionPrincipal:focus .moreOptions {
    opacity: 1;
    margin: 0;
    transform: translateY(0);
}

.floatOptionPrincipal {
    background: #ff0057;
    color: white;
    bottom: 0px;
    right: 0px;
}

.moreOptions {
    /* width: 50px; */
    display: flex;
    flex-wrap: wrap;
    width: 55px;
    margin-bottom: 10px;
    transition: .5s;
    opacity: 0;
    margin-bottom: -150px;
    /* transform: translateY(80%); */
}

.moreOptions button {
    /* margin-bottom: 5px; */
    transform: scale(.7);
    margin-bottom: -10px;
    background: darkcyan;
}

@page {
    margin: .25in;
    padding: 0;
    /* height: 100vh; */
}

@media print {
    html {
        height: 100vh !important;
    }
    body * {
        visibility: hidden;
    }
    body {
        height: 700px !important;
    }
    #reciboNew * {
        visibility: visible !important;
    }
    #reciboNew {
        position: absolute;
        display: block !important;
        left: 0 !important;
        top: 0 !important;
        z-index: 1000 !important;
        visibility: visible !important;
        page-break-inside: avoid;
    }
    .l4 {
        width: 50%;
    }
    #toPrint {
        visibility: visible !important;
    }
}

.red-text {
    color: rgb(175, 0, 0);
}

.orange-text {
    color: orange;
}

.green-text {
    color: rgb(0, 194, 0);
}

.blue-text {
    color: rgb(5, 104, 197);
}