<mat-progress-bar mode="indeterminate" *ngIf="sendingData > 0" class="barLoader"></mat-progress-bar>

<div class="cardSpace">

    <div class="closeCardBackground" (click)="close()">
        <h5 class="closeIcon">
            <mat-icon>close</mat-icon>
        </h5>
    </div>
  
    <div class="cardModule">            
  
      <div class="options" *ngIf="credential == 7">
          <i class="material-icons" [routerLink]="['/asistencias/ver', record.id]" matTooltip="Ver Asistencia">visibility</i>
          <i class="material-icons" [routerLink]="['/asistencias/ver/' + record.id + '/update']"(click)="sendRecord()" matTooltip="Editar Asistencia">edit</i>          
          <!-- <i class="material-icons" [routerLink]="['asistencias/ver/' + record.id + '/delete']" (click)="sendRecord()" matTooltip="Eliminar Asistencia">delete</i> -->
          <i class="material-icons" (click)="delete()" matTooltip="Eliminar Asistencia">delete</i>
      </div>

      <router-outlet></router-outlet>

      <div *ngIf="window == 1">
      <h2>Detalles de Asistencia</h2>
      <form class=" flex">
        
        <div class="l6">
            <label>Usuario:</label><br>
            <p> <a [routerLink]="['/users/show', record.user_id]">{{ record.user.name }}</a></p>
        </div>
        <div class="l6">
            <label>Tipo de usuario:</label><br>
            <p disabled>{{record.user.typeView}}</p>                      
        </div>

        <div class="l6">              
            <label>Fecha:</label><br>
            <input type="date" [(ngModel)]="record.date" name="date" disabled>                                                  
        </div>

        <div class="l6">              
            <label>Entrada:</label><br>
            <input type="time" [(ngModel)]="record.checkIn" name="checkIn" disabled>                                                  
        </div>
        <div class="l6">              
            <label>Salida:</label><br>
            <input type="time" [(ngModel)]="record.checkOut" name="checkOut" disabled>                                                  
        </div>

        <div class="l6" *ngIf="record.isWorked()">              
            <label>Tiempo trabajado:</label><br>
            <input [(ngModel)]="record.time_worked" name="time_worked" disabled>                                                  
        </div>

        <div class="l6" *ngIf="record.isWorked()">              
            <label>Tiempo Extra:</label><br>
            <input [(ngModel)]="record.time_extra" name="time_extra" disabled>                                                  
        </div>

        <div class="l6" *ngIf="record.isWorked()">              
            <label>Tipo de asistencia:</label><br>
            <p>{{ record.typeView() }}</p>            
        </div>

        
        <div class="l12" *ngIf="record.isWorked() && record.observation.length > 0">              
            <label>Observación:</label><br>
            <p>{{ record.observation }}</p>            
        </div>
                
      </form>

      </div>

      <div *ngIf="window == 2">
          <h3>¿Estas seguro/a que desea borrar esta Asistencia?</h3>
          <p>Una vez eliminado ya no se podra recuperar. </p>
          <div class="confirmCancel">
              <button class="btn btnCancel" (click)="window = 1">Cancelar</button>              
              <button class="btn btnDelete" (click)="deleteConfirm()">Eliminar</button>
          </div>
      </div>
      
  
    </div>
  
  </div>