<app-print-receipt [sale]="sale"></app-print-receipt>
<div class="cardSpace" [@background]="state.background">

    <div class="closeCardBackground" (click)="closePop()">
        <h5 class="closeIcon">
            <mat-icon>close</mat-icon>
        </h5>
    </div>

    <div class="cardModule" [@card]="state.card">

        <div class="options">
            <i class="material-icons" (click)="print()" matTooltip="Imprimir recibo">print</i>
            <i class="material-icons" (click)="deleteProcess()" matTooltip="Eliminar Recibo" *ngIf="auth.user_type_id > 5">delete</i>
        </div>
        <h1 class="centerText">Venta</h1>
        <form class="flex">
            <div class="l6">
                <p disabled>Folio #{{sale.id}}</p>
            </div>

            <div class="l6">
                <p disabled>Vendedor: <span *ngIf="sale.creator">{{sale.creator.name}}</span></p>
            </div>

            <div class="l6">
                <p disabled>Total: ${{sale.total}}</p>
            </div>
            <div class="l6">
                <p>Tipo de venta: {{sale.typeView}}</p>
            </div>
            <div class="l6">
                <p>Fecha/Hora: {{sale.created_at}}</p>
            </div>


        </form>
        <h4>Descripción</h4>
        <div class="responsive-table">
            <table>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of sale.description">
                        <td>{{product.product.name}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.quantity}}</td>
                        <td>{{product.subtotal}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>