<mat-progress-bar mode="indeterminate" *ngIf="sendingData > 0" class="barLoader"></mat-progress-bar>

<div class="cardSpace" [@background]="state.background">

    <div class="closeCardBackground" (click)="closePop()">
        <h5 class="closeIcon">
            <mat-icon>close</mat-icon>
        </h5>
    </div>

    <div class="cardModule" [@card]="state.card">

        <h2><a (click)="window = 1">Crear pagos </a>
            <span *ngIf="window > 1" (click)="window = 2">>> Analisis </span>
            <span *ngIf="window > 2" (click)="window = 3">>> Pagos</span>
        </h2>

        <form autocomplete="off" (submit)="setDataToProcess()" [ngClass]="{ 'loadingForm': sendingData > 0}" *ngIf="window == 1">

            <div>
                <label>Mes:</label><br>
                <select [(ngModel)]="period.month" name="month" (change)="setPeriodsOption()">
                    <option  *ngFor="let x of months" value="{{ x.value }}">{{ x.view}}</option>
                </select>
            </div>

            <div>
                <label>Periodo:</label><br>
                <select [(ngModel)]="period.option" name="option">
                    <option  *ngFor="let x of periodOptions" value="{{ x.value }}">{{ x.from}} - {{ x.to }}</option>
                </select>
            </div>
            <button type="submit" class="btn">Comenzar</button>

        </form>

        <div *ngIf="window == 2" [ngClass]="{ 'loadingForm': sendingData > 0}">

            <div *ngIf="analizedArray.length > 0 ">

                <h4>Periodo {{ period.from }} / {{ period.to }}</h4>

                <div class="options">
                    <i class="material-icons" *ngIf="users[userSelect - 1] != undefined" (click)="changeWorkToAnalize(-1)" matTooltip="Anterior empleado">arrow_back</i>
                    <i class="material-icons" *ngIf="users[userSelect + 1] != undefined" (click)="changeWorkToAnalize(1)" matTooltip="Siguiente empleado">arrow_forward</i>
                    <i class="material-icons green-text" *ngIf="users[userSelect].salary != undefined && analizedArray[userSelect].payment.id == null" (click)="generateReceipt()" matTooltip="Generar Recibo">receipt</i>
                    <i class="material-icons blue-text" *ngIf="users[userSelect + 1] != undefined" (click)="changeWorkToAnalize(1)" matTooltip="Analisis Completo">playlist_add_check</i>
                </div>

                <p>{{ users[userSelect].name }}</p>
                <div class="flexRow" *ngIf="users[userSelect].salary != undefined ">
                    <div class="l12 daysIcons">
                        <div *ngIf="analizedArray[userSelect].daysLate > 0" matTooltip="Días con retraso">
                            <i class="material-icons orange-text">watch_later</i> {{ analizedArray[userSelect].daysLate }}
                        </div>
                        <div *ngIf="analizedArray[userSelect].daysAbsent > 0" matTooltip="Días de inasistencia">
                            <i class="material-icons red-text">warning</i> {{ analizedArray[userSelect].daysAbsent }}
                        </div>
                    </div>
                    <p class="l6">Tipo de Pago: {{ users[userSelect].salary.returnSalaryView() }}</p>
                    <p class="l6">Monto: ${{ users[userSelect].salary.amount }} - Bono: ${{ users[userSelect].salary.bonus }}</p>
                    <p class="l6">Pago Sugerido: ${{ analizedArray[userSelect].paymentSugest }}</p>
                    <div class="formData l6">
                        <span>Pago:</span><br>
                        <input [(ngModel)]="analizedArray[userSelect].paymentReal" name="paymentReal">
                    </div>

                </div>

                <div class="responsive-table">
                    <table align="center">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Tiempo de trabajo</th>
                                <th>Tiempo no Trabajado</th>

                            </tr>
                            <!-- <th colspan="3">Opciones</th> -->
                        </thead>
                        <tbody>
                            <tr *ngFor="let analized of analizedArray[userSelect].daysAnalized" [ngClass]="{ 'tarde': analized.status == 2, 'ausente': analized.status == 0 }">
                                <td>{{ analized.day.getDay() | dayPipe }} {{ analized.day.getDate() }}</td>
                                <td>{{ analized.timeToWork.hours }}:{{ analized.timeToWork.minutes }}</td>
                                <td>{{ analized.timeNotWorked.hours }}:{{ analized.timeNotWorked.minutes }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button *ngIf="users[userSelect + 1] != undefined" (click)="changeWorkToAnalize(1)" class="btn btnPrimary"> Siguiente Empleado</button>
            </div>
        </div>

    </div>
</div>