<mat-progress-bar mode="indeterminate" *ngIf="request" class="barLoader"></mat-progress-bar>

<div class="cardSpace" [@background]="state.background">

    <div class="closeCardBackground" (click)="closePop()">
        <h5 class="closeIcon">
            <mat-icon>close</mat-icon>
        </h5>
    </div>

    <div class="cardModule" [@card]="state.card">
        <h2>Crear pagos</h2>
        <form autocomplete="off" (submit)="setDataToProcess()" [ngClass]="{ 'loadingForm': sendingData > 1}" *ngIf="window == 1">

            <div>
                <label>Mes:</label><br>
                <select [(ngModel)]="period.month" name="month" (change)="setPeriodsOption()">
                    <option  *ngFor="let x of months" value="{{ x.value }}">{{ x.view}}</option>
                </select>
            </div>

            <div>
                <label>Periodo:</label><br>
                <select [(ngModel)]="period.option" name="option">
                    <option  *ngFor="let x of periodOptions" value="{{ x.value }}">{{ x.from}} - {{ x.to }}</option>
                </select>
            </div>
            <button type="submit" class="btn btnAccept">Comenzar</button>

        </form>

        <form *ngIf="window == 2" (submit)="nextWorkerAnalice()">
            <h3>Periodo {{ period.from }} / {{ period.to }}</h3>
            <h5>{{ users[userSelect].name }}</h5>

            <div class="responsive-table">
                <table align="center">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Dia</th>
                            <th>Tiempo de trabajo</th>
                            <th>Tiempo no Trabajado</th>

                        </tr>
                        <!-- <th colspan="3">Opciones</th> -->
                    </thead>
                    <tbody>
                        <tr *ngFor="let analized of daysAnalized">
                            <td>{{ analized.day }}</td>
                            <td>{{ analized.day.getDay() }}</td>
                            <td>{{ analized.timeToWork.hours }}:{{ analized.timeToWork.minutes }}</td>
                            <td>{{ analized.timeNotWorked.hours }}:{{ analized.timeNotWorked.minutes }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="btn btnPrimary"> Continuar</button>
        </form>

    </div>
</div>